/* http://meyerweb.com/eric/tools/css/reset/
     v2.0 | 20110126
     License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Our CSS, using Golden Ratio from http://type-scale.com/ */

body {
    background: #f9f9f9;
    color: #502828;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.9em;
    line-height: 1.618;
    margin: 0 12.5% 10rem 12.5%;
}

b {
    font-weight: bold;
}

i {
    font-style: italic;
}

p {
    margin: 0.5rem 0;
}

.error {
    color: red;
}

.resource {
    width: 10em;
}

/* Layout */

div:after {
  content: "";
  display: table;
  clear: both;
}

section {
    border-top: 0.1rem #502828 solid;
    float: left;
    margin: 1rem 4.236rem 1rem 0;
}

/* Headings */

h1, h2, h3 {
    font-family: Georgia, "Times New Roman", Times, serif;
    line-height: 1.2;
    padding-top: 1rem;
    margin-bottom: 1.618rem;
}

h1 {
    font-size: 2.618rem;
}

h1 a:visited, h2 a:visited, h3 a:visited {
    color: #502828;
}

h2 {
    font-size: 1.618rem;
}

h3 {
    font-size: 1.2rem;
}

/* Links */

a {
    color: #502828;
    text-decoration: none;
}

a.link {
    text-decoration: underline;
}

p a {
    /* Underline that respects descenders. */
    text-shadow: 0.1rem 0 0 #fff, -0.1rem 0 0 #fff;
    background-image: linear-gradient( to right, currentColor 0%, currentColor 100% );
    background-repeat: repeat-x;
    background-position: 0 96%;
    -webkit-background-size: 100% 0.1rem;
    background-size: 100% 0.1rem;
}

/* Lists */

ul {
    list-style-type: square;
}

ul.decklist {
    list-style-type: none;
}

ul.archetypes, .archetypes ul {
    list-style-type: circle;
}

.archetypes li li {
    margin-left: 2rem;
}

.archetypes li.current {
    list-style-type: square;
}

/* Tables */

table {
    border-spacing: 0.25rem 0;
    margin-bottom: 1rem;
}

table.with-marginalia {
    margin-left: -4.5rem;
    margin-right: 0.5rem;
}

table.fade-repeats {
    visibility: hidden;
}

th {
    cursor: pointer;
    font-size: 0.8rem;
    text-align: left;
    text-transform: uppercase;
}

td, th {
    max-width: 13rem;
    overflow: hidden;
    padding: 0 0.25rem;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* Allow the stars in the margin to show. */
td.marginalia:first-child, th.marginalia:first-child {
    overflow: visible;
}

td:first-child, td:last-child, th:first-child, th:last-child {
    margin: 0;
    padding: 0;
}

.main table a {
    text-shadow: none;
    background-image: none;
}

td.c {
    text-align: center;
}

td.n {
    text-align: right;
}

td.wide {
    max-width: 50em;
    white-space: pre-line;
}

td.divider, th.divider {
    border-right: 0.07rem #ccc solid;
}

th.legend {
    text-align: center;
}

.odd-stripe {
    background-color: #f4f4f4;
}

.marginalia {
    text-align: right;
    width: 4rem;
}

.repeat:not(span), td .repeat {
    opacity: 0.8;
}

/* Menu */

ul.menu {
    list-style: none;
    margin-left: -2rem;
}

.menu li {
    float: left;
    position: relative;
}

.menu li.search {
    float: right;
}

.menu a {
    color: #502828;
    display: block;
    font-size: 0.8rem;
    text-decoration: none;
    text-transform: uppercase;
}

.menuitem {
    padding: 2rem;
}

.search {
    padding: 2rem 0 0 0;
}

.menu li.has-submenu > a {
    padding-bottom: 0;
}

.submenu li {
    list-style: none;
}

.submenu a {
    font-size: 0.7rem;
    line-height: 1.33333;
    margin: 0;
    padding: 0.1rem 1rem 0.93rem 1rem;
}

.submenu li:first-child a {
    padding-left: 2rem;
}

.submenu li:last-child a {
    padding-right: 2rem;
}

.menu a:hover {
    color: red;
}

.menu:after {
  content: "";
  display: table;
  clear: both;
}

/* Mana horizontal bar. */

.mana:nth-child(1) {
    border-left: 0.1rem #999 solid;
}

.mana {
    display: inline-block;
    height: 1rem;
    vertical-align: middle;
    border-bottom: 0.1rem #999 solid;
    border-top: 0.1rem #999 solid;
    border-right: 0.1rem #999 solid;
}

.mana-W {
    background-color: #fffcda;
}

.mana-U {
    background-color: #ace2fa
}

.mana-B {
    background-color: #ccc2c0;
}

.mana-R {
    background-color: #f8aa92;
}

.mana-G {
    background-color: #9dd2af;
}

/* Responsive tables */

@media only screen and (max-width: 60rem) {
    table, tbody, th, td, tr {
        display: block;
    }

    thead {
        display: none;
    }

    tr {
        border-bottom: 0.1rem solid #999;
        padding: 1rem 0;
    }

    td {
        padding-left: 0;
        text-align: left;
    }

    table.with-marginalia {
        margin-left: 0;
    }
    td.marginalia {
        margin: 0;
        text-align: left;
    }
    td.c, td.n {
        text-align: left;
    }

    /* But don't screw up Google's HTML/CSS for the search box in the menu. */
    .gsc-search-box table {
        display: table;
    }
    .gsc-search-box tbody {
        display: table-row-group;
    }
    .gsc-search-box tr {
        display: table-row;
    }
    .gsc-search-box td, th {
        display: table-cell;
    }

}

/* Deck */

.bye {
    font-size: 0.8rem;
}

/* Card */

.card-img {
    height: 22.25rem;
    padding-top: 1rem;
}

.illegal::after {
    content: "﻿🚫";
    margin-left: 0.2em;
}

/* Forms */

form {
    margin: 2rem 0;
}

button, form, input, select, textarea {
    font-size: inherit;
}

button, input, select, textarea, .uploader-label {
    width: 20rem;
}

input[type=checkbox].toggleIllegal {
    width: 1rem;
}

button, input, label, select, textarea {
    margin-top: 1rem;
}

input[type=number] {
    width: 2rem;
}

label {
    display: block;
    float: left;
    margin-right: 1rem;
    text-align: right;
    width: 10rem;
}

textarea {
    height: 10rem;
}

label {
    width: 10em;
    margin-right: 1em;
}

input, select, textarea {
    margin-left: 1em;
}

button {
    appearance: button;
    -moz-appearance: button;
    -webkit-appearance: button;
}

button, div.error, .uploader-label {
    margin-left: 12em;
}

div.error {
    color: red;
}

input.error, select.error, textarea.error {
    border: 0.1rem solid red;
}

.uploader {
    display: none;
}

.uploader-label {
    cursor: pointer;
    float: none;
    margin-top: 0;
    text-align: left;
}

.draw-report {
    visibility: hidden;
}

form.inline, .inline input, .inline select, .inline textarea, .inline label, .inline button {
    margin: 0;
    max-width: 100%;
    width: inherit;
}

/* Search. We're overriding Google's inline styles here hence a lot of !important. */

.gsc-control-cse {
    background: transparent !important; /* csslint allow: important */
    border: 0 !important; /* csslint allow: important */
    color: #502828 !important; /* csslint allow: important */
    width: 20rem !important; /* csslint allow: important */
}

.gsc-input {
    background: none !important; /* csslint allow: important */
    font-size: inherit !important; /* csslint allow: important */
    font-family: inherit !important; /* csslint allow: important */
}

.gsc-wrapper, .gsc-results-wrapper-overlay, .gsc-results-root {
    background: #f9f9f9 !important; /* csslint allow: important */
    color: #502828 !important; /* csslint allow: important */
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important; /* csslint allow: important */
    font-size: 0.9em !important; /* csslint allow: important */
    line-height: 1.618 !important; /* csslint allow: important */
}

.gsc-wrapper a {
    text-decoration: none !important; /* csslint allow: important */
    text-transform: none;
}

.gsc-snippet {
    white-space: normal !important; /* csslint allow: important */
}

td.gsc-table-cell-snippet-close, td.gsc-table-cell-thumbnail {
    padding-left: 8px !important; /* csslint allow: important */
}

.gsc-cursor-page:hover {
    text-decoration: none !important; /* csslint allow: important */
}

.gs-title, .gs-title b {
    height: inherit !important; /* csslint allow: important */
    text-decoration: none !important; /* csslint allow: important */
}

.gsc-orderby-container {
    display: none;
}

.gsc-wrapper div:after {
    display: inherit;
}

.gsc-control-cse {
    padding: 0 !important; /* csslint allow: important */
}

.gsst_a {
    padding-top: 0.45rem !important; /* csslint allow: important */
}

.gsc-search-button {
    margin-top: 5px !important; /* csslint allow: important */
}

.gsc-webResult.gsc-result {
    border-bottom: 0.1rem solid #eee !important; /* csslint allow: important */
}

/* Ideally this should be the underline from p a above but this is better than nothing. */
.gs-title {
    text-decoration: underline !important; /* csslint allow: important */
 }

.search tr {
    border-bottom: 0;
}

/* Archetypes */

.archetype {
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
}
.archetype input {
    width: 45%;
}
tr.archetype-0 > .primary.initial {
    font-size: 120%;
}
tr.archetype-1 > .primary.initial {
    font-size: 100%;
    padding-left: 1rem;
}
tr.archetype-2 > .primary.initial {
    font-size: 80%;
    padding-left: 2rem;
}
tr.archetype-3 > .primary.initial {
    font-size: 60%;
    padding-left: 3rem;
}
tr.archetype-0.current > .primary.initial {
    padding-left: 1rem;
}
tr.archetype-1.current > .primary.initial {
    padding-left: 2rem;
}
tr.archetype-2.current > .primary.initial {
    padding-left: 3rem;
}
tr.archetype-3.current > .primary.initial {
    padding-left: 4rem;
}
tr.current {
    background-color: #eee;
}
tr.current td {
    background-color: #eee;
}
tr.current td {
    padding-left: 1rem;
}
tr.current td:first-child {
    left: -1rem;
    padding-right: 0;
    position: relative;
}
tr.current td:last-child {
    left: 1rem;
    padding-left: 0;
    padding-right: 1rem;
    position: relative;
}

/* Season Symbols */

.ss:before {
    margin-right: 0.1rem;
    vertical-align: -0.1rem; /* None of the standard values line up the text and the image center. */
}
.ss {
    margin-right: 0.35rem;
}

/* Notification Badges */

.badge {
    display: none; /* Will be shown with javascript if admin is viewing. */
    position: absolute;
    top: 1.1rem;
    right: 1.1rem;
    background-color: #9dd2af;
    border-radius: 0.6rem; /* one half of ( (border * 2) + height + padding ) */
    height: 1.2rem;
    padding: 0;
    text-align: center;
    min-width: 1.2rem;
    line-height: 1.2rem;
}

.badge a, .badge a:hover {
    color: white;
}

/* Tournaments */
.local {
    display: none; /* Will be revealed by js when we have a localized time. */
}