version: 2
updates:
- package-ecosystem: github-actions
  directory: "/"
  schedule:
    interval: daily
    timezone: Australia/Sydney
  open-pull-requests-limit: 10
- package-ecosystem: npm
  directory: "/"
  schedule:
    interval: daily
    timezone: Australia/Sydney
  open-pull-requests-limit: 10
  groups:
    babel:
      patterns:
      - "@babel*"
- package-ecosystem: pip
  directory: "/"
  schedule:
    interval: daily
    timezone: Australia/Sydney
  open-pull-requests-limit: 10
  allow:
  - dependency-type: direct
  - dependency-type: indirect
