[flake8]
ignore = E501, E302, E402
exclude = .git,__pycache__,src

per-file-ignores =
    # T201 blocks us from using print(), which is important for perf reasons.
    # Some codepaths just don't care/need it though
    build.py:T201
    conftest.py:T201
    dev.py:T201
    generate_readme.py:T201
    run.py:T201
    analysis/*:T201
    logsite/*:T201
    maintenance/*:T201
    magic/*:T201
    magic/multiverse.py:T201
    modo_bugs/*:T201
    price_grabber/*:T201
    rotation_script/*:T201
    shared/*:T201
    *_test.py:T201

# Mostly we don't allow our modules to talk to each other.
# Some like 'magic', 'shared_web' and 'shared' are designed to be imported a bit more liberally.
# We also keep some of our submodules safe from third party libs they should not access here.
deny-imports =
    decksite.data=sqlalchemy

    analysis=discordsite
    analysis=modo_bugs
    analysis=price_grabber
    analysis=discordbot
    analysis=maintenance
    analysis=rotation_script
    analysis=shared_web

    decksite=analysis
    decksite=discordsite
    decksite=logsite
    decksite=modo_bugs
    decksite=price_grabber
    decksite=discordbot
    decksite=maintenance
    decksite=rotation_script

    discordsite=analysis
    discordsite=decksite
    discordsite=find
    discordsite=logsite
    discordsite=magic
    discordsite=modo_bugs
    discordsite=price_grabber
    discordsite=discordbot
    discordsite=maintenance
    discordsite=rotation_script

    find=analysis
    find=decksite
    find=discordsite
    find=logsite
    find=modo_bugs
    find=price_grabber
    find=discordbot
    find=maintenance
    find=rotation_script
    find=shared_web

    logsite=analysis
    logsite=decksite
    logsite=discordsite
    logsite=modo_bugs
    logsite=price_grabber
    logsite=discordbot
    logsite=maintenance
    logsite=rotation_script

    magic=analysis
    magic=decksite
    magic=discordsite
    magic=find
    magic=logsite
    magic=modo_bugs
    magic=price_grabber
    magic=discordbot
    magic=maintenance
    magic=rotation_script
    magic=shared_web

    modo_bugs=analysis
    modo_bugs=decksite
    modo_bugs=discordsite
    modo_bugs=find
    modo_bugs=logsite
    modo_bugs=price_grabber
    modo_bugs=discordbot
    modo_bugs=maintenance
    modo_bugs=rotation_script
    modo_bugs=shared_web

    price_grabber=analysis
    price_grabber=decksite
    price_grabber=discordsite
    price_grabber=find
    price_grabber=logsite
    price_grabber=modo_bugs
    price_grabber=discordbot
    price_grabber=maintenance
    price_grabber=rotation_script
    price_grabber=shared_web

    shared=analysis
    shared=decksite
    shared=discordsite
    shared=find
    shared=logsite
    shared=magic
    shared=modo_bugs
    shared=price_grabber
    shared=discordbot
    shared=maintenance
    shared=rotation_script
    shared=shared_web

    discordbot=analysis
    discordbot=decksite
    discordbot=discordsite
    discordbot=logsite
    discordbot=modo_bugs
    discordbot=price_grabber
    discordbot=maintenance
    discordbot=rotation_script
    discordbot=shared_web

    # maintenance can (and does) use anything

    rotation_script=analysis
    rotation_script=discordsite
    rotation_script=find
    rotation_script=logsite
    rotation_script=modo_bugs
    rotation_script=discordbot
    rotation_script=maintenance
    rotation_script=shared_web

    shared_web=analysis
    shared_web=decksite
    shared_web=discordsite
    shared_web=logsite
    shared_web=modo_bugs
    shared_web=price_grabber
    shared_web=discordbot
    shared_web=maintenance
    shared_web=rotation_script
