[flake8]
ignore = E501,E302,E402, E713,W504,W503
exclude = .git,__pycache__,src

per-file-ignores =
    # T001 blocks us from using print(), which is important for perf reasons.
    # Some codepaths just don't care/need it though
    build.py:T001
    conftest.py:T001
    dev.py:T001
    generate_readme.py:T001
    run.py:T001
    analysis/*:T001
    logsite/*:T001
    maintenance/*:T001
    magic/*:T001
    magic/multiverse.py:T001
    modo_bugs/*:T001
    price_grabber/*:T001
    rotation_script/*:T001
    shared/*:T001
    *_test.py:T001
    #Q000 is for double-quotes
    discordbot/commands/debug.py:Q000
    #F401 is about unused imports.
    # We have a lot of violations, but this PR is already massive, so I'm gonna ignore the decksite ones and come back to them later
    decksite/*:F401
    logsite/*:F401
