*.mo
*.po
*.py,cover
*.pyc
*.sqlite
.DS_Store
.cache/
.coverage
.pylintrc.tmp
.pytest_cache/
.vs/
.vscode
.web_cache/
/.mypy_cache/
/images/*.jpg
/images/charts/*.png
/monkeytype.sqlite3
AllCards-x.json
AllSets.json
Thumbs.db
config.json
coverage.xml
db
decksite.db
decksite/images/*-cmc.png
ffmpeg.exe
magic.db
meta.sqlite
my_doodle.py
prices.db
spellfix.*
sqlite3.h
sqlite3ext.h
test_results.xml
whoosh_index/
/modo_bugs_repo/
/*.config.json
/TestResults.xml
