*.jpg
*.pyc
*.sqlite
.cache/
.coverage
.DS_Store
.vscode
config.json
db
decksite.db
ffmpeg.exe
magic.db
meta.sqlite
prices.db
spellfix.*
sqlite3.h
sqlite3ext.h
test_results.xml
Thumbs.db
coverage.xml
*.py,cover
.vs/
decksite/images/*-cmc.png
.web_cache/
my_doodle.py