*.mo
*.po
*.py,cover
*.pyc
*.sqlite
.DS_Store
.cache/
.coverage
.mypy_cache
.pylintrc.tmp
.pytest_cache/
.vs/
.vscode
.web_cache/
/*.config.json
/.mypy_cache/
/TestResults.xml
/codecov.sh
/images/*.jpg
/images/charts/*.png
/modo_bugs_repo/
/monkeytype.sqlite3
AllCards-x.json
AllSets.json
Thumbs.db
config.json
coverage.xml
db
decksite.db
decksite/images/*-cmc.png
ffmpeg.exe
magic.db
meta.sqlite
my_doodle.py
node_modules/
prices.db
shared_web/static/dist/
shared_web/static/dev-db.sql.gz
spellfix.*
sqlite3.h
sqlite3ext.h
test_results.xml
whoosh_index/
/scryfall-default-cards.json
/docs/_build/
