{
    "!comment": "See shared/configuration.py for full details.",
    "mysql_user": "pd_magic",
    "mysql_passwd": "",
    "oauth2_client_id": "Discord bot client id.",
    "oauth2_client_secret": "Discord bot client secret.",
    "token": "discord bot login token"
}
