version: '2'
services:
  web:
    build: .
    ports:
      - "5000:5000"
      - "5001:5001"
    depends_on:
      - db
      - redis
    env_file: .env
    environment:
      - mysql_host=db
      - redis_host=redis
    volumes:
      - ./decksite:/pdm/decksite
      - ./logsite:/pdm/logsite
      - ./magic:/pdm/magic
      - ./maintenance:/pdm/maintenance
      - ./shared:/pdm/shared
      - ./shared_web:/pdm/shared_web
  discordbot:
    build: .
    command: ["pipenv", "run", "python", "run.py", "--wait-for-db", "discordbot"]
    depends_on:
      - db
      - redis
    env_file: .env
    environment:
      - mysql_host=db
      - redis_host=redis
    volumes:
      - ./discordbot:/pdm/discordbot
      - ./magic:/pdm/magic
      - ./shared:/pdm/shared
  db:
    build: docker_dev/mysql
    env_file: .env
    environment:
      - MYSQL_RANDOM_ROOT_PASSWORD=true
    ports:
      - "3306:3306"
  adminer:
    image: adminer
    ports:
      - 8080:8080
  redis:
    image: redis
