[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "==3.9.2"
# flake8-comprehensions = "*"
flake8-quotes = "*"
flake8-bugbear = "*"
flake8-commas = "*"
# flake8-raise = "*"
# flake8-deprecated = "*"
mypy = "==0.910"
types-flask = "*"
types-Markdown = "*"
types-pytz = "*"
types-redis = "*"
types-requests = "*"
types-six = "*"
types-werkzeug = "*"
types-certifi = "*"
types-chardet = "*"
types-pkg-resources = "*"
types-python-dateutil = "*"
types-toml = "*"
types-typed-ast = "*"

[packages]
aiohttp = "==3.6.3"
anytree = "==2.8.0"
astroid = "==2.7.2"
attrs = "==21.2.0"
beautifulsoup4 = "==4.9.3"
better-profanity = "==0.7.0"
cachelib = "==0.3.0"
click = "==8.0.1"
coverage = "==5.5"
"discord.py" = {extras = ["voice"], version = "==1.5.1"}
feedparser = "==6.0.8"
flask-restx = "==0.5.0"
ftfy = "==6.0.3"
pip-check-reqs = "==2.3.0"
google-api-python-client = "==2.18.0"
inflect = "==5.3.0"
isort = "==5.9.3"
jsbeautifier = "==1.14.0"
lxml = "==4.6.3"
matplotlib = "==3.4.3"
munch = "==2.5.0"
mypy-extensions = "==0.4.3"
mysqlclient = "==2.0.3"
plumbum = "==1.7.0"
poeditor = "==1.1.2"
pygtrie = "==2.4.2"
pyhumps = "==3.0.2"
pystache = "==0.5.4"
pytest = "==6.2.4"
pytest-asyncio = "==0.15.1"
pytest-cov = "==2.12.1"
python-dateutil = "==2.8.2"
python-dotenv = "==0.19.0"
pytz = "==2021.1"
redis = "==3.5.3"
requests = "*"
requests-oauthlib = "==1.3.0"
requirements-parser = "==0.2.0"
seaborn = "==0.11.2"
six = "==1.16.0"
titlecase = "==2.3"
typing-extensions = "==3.10.0.0"
untangle = "==1.1.1"
vcrpy = "==4.1.1"
Babel = "==2.9.1"
Flask = "==2.0.1"
Flask-Babel = "==2.0.0"
Flask-Migrate = "==3.1.0"
Flask-Session = "==0.4.0"
Flask-SQLAlchemy = "==2.5.1"
Markdown = "==3.3.4"
Pillow = "==8.3.1"
PyGithub = "==1.54"
PyJWT = "==2.1.0"
SQLAlchemy = "==1.4.23"
SQLAlchemy-Utils = "==0.37.8"
Werkzeug = "==2.0.1"
Whoosh = "==2.7.4"
sentry-sdk = {extras = ["flask"], version = "*"}
jishaku = "==1.20.0.220"
pydantic = "*"
discord-py-slash-command = "3.0.1"

[requires]
python_version = "3.8"
