[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[scripts]
discordbot = "python run.py discordbot"
decksite = "python run.py decksite"
maintenance = "python run.py maintenance"
scraper = "python run.py scraper"
modo-bugs = "python run.py modo-bugs"
price-grabber = "python run.py price-grabber"
rotation = "python run.py rotation"
srv-price = "python run.py srv-price"
lint = "python dev.py lint"
test = "python dev.py test"
init-cards = "python run.py init-cards"

[dev-packages]
flake8 = "==7.0.0"
flake8-quotes = "*"
flake8-bugbear = "*"
flake8-commas = "*"
flake8-import-graph = "*"
flake8-raise = "*"
flake8-deprecated = "*"
flake8-print = "*"
mypy = "==1.8.0"
types-flask = "*"
types-Markdown = "*"
types-pytz = "*"
types-redis = "*"
types-requests = "*"
types-six = "*"
types-werkzeug = "*"
types-certifi = "*"
types-chardet = "*"
types-pkg-resources = "*"
types-python-dateutil = "*"
types-toml = "*"
types-typed-ast = "*"
pipfile = "*"
types-freezegun = "*"

[packages]
aiohttp = "*"
anytree = "==2.12.1"
astroid = "==3.0.3"
attrs = "==23.2.0"
beautifulsoup4 = "==4.12.3"
better-profanity = "==0.7.0"
cachelib = "==0.12.0"
click = "==8.1.7"
coverage = "==7.4.1"
feedparser = "==6.0.11"
flask-restx = "*"
ftfy = "==6.1.3"
pip-check-reqs = "==2.5.3"
google-api-python-client = "==2.116.0"
inflect = "==7.0.0"
isort = "==5.13.2"
jsbeautifier = "==1.14.11"
lxml = "*"
matplotlib = "==3.8.2"
munch = "==4.0.0"
mypy-extensions = "==1.0.0"
mysqlclient = "==2.2.4"
plumbum = "==1.8.2"
poeditor = "==1.1.3"
pygtrie = "==2.5.0"
pyhumps = "==3.8.0"
pytest = "==7.4.4"
pytest-asyncio = "==0.23.5"
pytest-cov = "==4.1.0"
python-dateutil = "==2.8.2"
python-dotenv = "==1.0.1"
pytz = "==2024.1"
redis = "==5.0.1"
requests = "*"
requests-oauthlib = "==1.3.1"
requirements-parser = "==0.5.0"
seaborn = "==0.13.2"
six = "==1.16.0"
titlecase = "==2.4.1"
typing-extensions = "*"
untangle = "==1.2.1"
Babel = "==2.12.1"
Flask = "==2.3.3"
Flask-Babel = "==2.0.0"
Flask-Migrate = "*"
Flask-Session = "==0.5.0"
Flask-SQLAlchemy = "*"
Markdown = "==3.4.4"
Pillow = "==10.0.0"
PyGithub = "==1.59.1"
SQLAlchemy = "==2.0.20"
SQLAlchemy-Utils = "==0.41.1"
Whoosh = "==2.7.4"
sentry-sdk = {extras = ["flask"], version = "*"}
pydantic = "*"
pystache = "*"
fasteners = "*"
"interactions.py" = "==5.6.0"
tomli = "*"
orjson = "*"
traceback-with-variables = "*"
freezegun = "*"
werkzeug = "==3.0.1"
discord-typings = "*"
anyascii = "*"

[requires]
python_version = "3.10"
