[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[scripts]
discordbot = "python run.py discordbot"
decksite = "python run.py decksite"
maintenance = "python run.py maintenance"
scraper = "python run.py scraper"
modo-bugs = "python run.py modo-bugs"
lint = "python dev.py lint"
test = "python dev.py test"

[dev-packages]
flake8 = "==4.0.1"
# flake8-comprehensions = "*"
flake8-quotes = "*"
flake8-bugbear = "*"
flake8-commas = "*"
flake8-raise = "*"
flake8-deprecated = "*"
flake8-print = "*"
mypy = "==0.961"
types-flask = "*"
types-Markdown = "*"
types-pytz = "*"
types-redis = "*"
types-requests = "*"
types-six = "*"
types-werkzeug = "*"
types-certifi = "*"
types-chardet = "*"
types-pkg-resources = "*"
types-python-dateutil = "*"
types-toml = "*"
types-typed-ast = "*"
pipfile = "*"
types-freezegun = "*"

[packages]
aiohttp = "*"
anytree = "==2.8.0"
astroid = "==2.11.6"
attrs = "==21.4.0"
beautifulsoup4 = "==4.11.1"
better-profanity = "==0.7.0"
cachelib = "==0.9.0"
click = "==8.1.3"
coverage = "==6.4.1"
feedparser = "==6.0.10"
flask-restx = "==0.5.1"
ftfy = "==6.1.1"
pip-check-reqs = "==2.3.2"
google-api-python-client = "==2.52.0"
inflect = "==5.6.0"
isort = "==5.10.1"
jsbeautifier = "==1.14.4"
lxml = "==4.9.1"
matplotlib = "==3.5.2"
munch = "==2.5.0"
mypy-extensions = "==0.4.3"
mysqlclient = "==2.1.1"
plumbum = "==1.7.2"
poeditor = "==1.1.2"
pygtrie = "==2.4.2"
pyhumps = "==3.7.2"
pytest = "==7.1.2"
pytest-asyncio = "==0.18.3"
pytest-cov = "==3.0.0"
python-dateutil = "==2.8.2"
python-dotenv = "==0.20.0"
pytz = "==2022.1"
redis = "==4.3.4"
requests = "*"
requests-oauthlib = "==1.3.1"
requirements-parser = "==0.5.0"
seaborn = "==0.11.2"
six = "==1.16.0"
titlecase = "==2.3"
typing-extensions = "==4.3.0"
untangle = "==1.2.1"
vcrpy = "==4.2.0"
Babel = "==2.10.3"
Flask = "==2.1.2"
Flask-Babel = "==2.0.0"
Flask-Migrate = "==3.1.0"
Flask-Session = "==0.4.0"
Flask-SQLAlchemy = "==2.5.1"
Markdown = "==3.3.7"
Pillow = "==9.2.0"
PyGithub = "==1.55"
SQLAlchemy = "==1.4.39"
SQLAlchemy-Utils = "==0.38.2"
Whoosh = "==2.7.4"
sentry-sdk = {extras = ["flask"], version = "*"}
pydantic = "*"
pystache = {editable = true, git = "https://github.com/PennyDreadfulMTG/pystache"}
fasteners = "*"
tomli = "*"
dis-snek = "*"
orjson = "*"
traceback-with-variables = "*"
freezegun = "*"
molter = "*"
dis-taipan = "*"

[requires]
python_version = "3.10"
