anytree
bs4
cachecontrol[filecache]
coverage
discord.py[voice]>=0.15.0
flask
googler
inflect
markdown
matplotlib
munch
mysqlclient==1.3.12
pygithub
pylint>=1.7
pystache
pytest
python-dateutil
pytz
requests
requests_oauthlib
seaborn
titlecase
untangle
google-api-python-client
