aiohttp==3.7.1
anytree==2.8.0
astroid==2.4.2
attrs==20.2.0
babel==2.8.0
beautifulsoup4==4.9.3
better_profanity==0.6.1
cachecontrol[filecache]==0.12.6
cachelib==0.1.1
changelogs==0.14.0
coverage==5.3
discord.py[voice]==1.5.1
feedparser==6.0.2
flask==1.1.2
flask-babel==2.0.0
Flask-Migrate==2.5.3
flask-restx==0.2.0
flask-session==0.3.2
Flask-SQLAlchemy==2.4.4
ftfy==5.8
pip-check-reqs==2.1.1
github_webhook==1.0.4
google-api-python-client==1.12.5
inflect==4.1.0
isort==5.6.4
jsbeautifier==1.13.0
lxml==4.6.1
markdown==3.3.3
matplotlib==3.3.2
munch==2.5.0
mypy==0.790
mypy-extensions==0.4.3
mysqlclient==2.0.1
packaging==20.4
pillow==8.0.1
plumbum==1.6.9
poeditor==1.1.2
pygithub==1.53
pygtrie==2.3.3
pyhumps==1.6.1
pyjwt==1.7.1
pylint==2.6.0
pylint-quotes==0.2.1
pystache==0.5.4
pytest==6.1.1
pytest-asyncio==0.14.0
pytest-cov==2.10.1
python-dateutil==2.8.1
python-dotenv==0.14.0
pytz==2020.1
redis==3.5.3
requests==2.24.0
requests-oauthlib==1.3.0
requirements-parser==0.2.0
seaborn==0.11.0
six==1.15.0
SQLAlchemy==1.3.20
sqlalchemy-utils==0.36.8
titlecase==1.1.1
typing-extensions==3.7.4.3
untangle==1.1.1
vcrpy==4.1.1
werkzeug==1.0.1
whatthepatch==1.0.0
whoosh==2.7.4
