anytree==2.7.3
better_profanity==0.5.0
bs4==0.0.1
cachecontrol[filecache]==0.12.6
cachelib==0.1
changelogs==0.14.0
coverage==5.0.3
discord.py[voice]==1.3.1
feedparser==5.2.1
flask==1.1.1
flask-babel==1.0.0
flask-session==0.3.1
Flask-SQLAlchemy==2.4.1
Flask-Migrate==2.5.2
ftfy==5.7
google-api-python-client==1.7.11
github_webhook==1.0.2
inflect==4.1.0
isort==4.3.21
jsbeautifier==1.10.2
matplotlib==3.1.3
markdown==3.2.1
munch==2.5.0
mysqlclient==1.4.6
mypy==0.761
mypy-extensions==0.4.3
pillow==7.0.0
poeditor==1.1.2
plumbum==1.6.8
pygithub==1.46
pygtrie==2.3.2
pyhumps==1.3.1
pylint==2.4.4
pylint-quotes==0.2.1
pystache==0.5.4
pytest==5.3.5
pytest-cov==2.8.1
pytest-asyncio==0.10.0
python-dateutil==2.8.1
pytz==2019.3
redis==3.4.1
requests==2.23.0
requests-oauthlib==1.3.0
requirements-parser==0.2.0
seaborn==0.10.0
SQLAlchemy==1.3.13
sqlalchemy-utils==0.36.1
titlecase==0.12.0
untangle==1.1.1
vcrpy==4.0.2
whatthepatch==0.0.6
whoosh==2.7.4
