<section>
    <h1>{{_ About PDBot}}</h1>
    <p>{{_ PDBot is a robot that observes people playing games on Magic Online, and provides the role of judge, informing players with legality and bug information.}}</p>
    <p>PDBot and this site are developed run by <a href="https://twitter.com/silasary">Silasary</a>.</p>
    <p>{{_ This site is currently translated into:}} {{languages}}
    <br/>
    <a href="https://poeditor.com/join/project/sZ94JeTk1V">{{_ Help us translate the site into your language}}</a>
    </p>
    <p><a href="http://status.pennydreadfulmagic.com/">Status</a></p>
    <br>
    <p class="build-commit-id">build-commit-id: {{commit_id}}</p>
</section>
