<section>
    <p>{{_ PDBot is a robot that observes people playing games on Magic Online, and provides the role of judge, informing players with legality and bug information.}}</p>
    <p>PDBot and this site are developed run by <a href="https://twitter.com/silasary">Silasary</a>.</p>
    <p><a href="http://status.pennydreadfulmagic.com/">Status</a></p>
    <br>
    <p class="build-commit-id">build-commit-id: {{commit_id}}</p>
</section>
