<section>
    <h1>{{_ Recent Activity}}</h1>
    <p><canvas id="pdChart" width="1000" height="400"></canvas></p>
</section>
<section>
    <span>Last Switcheroo bug: {{last_switcheroo}}</span>
</section>
