<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{title}}</title>
        <link rel="stylesheet" type="text/css" href="{{css_url}}">
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/keyrune@latest/css/keyrune.css">
        <link rel="icon" sizes="16x16 32x32 48x48 64x64" href="{{favicon_url}}">
        <!--[if IE]><link rel="shortcut icon" href="{{favicon_url}}"><![endif]-->
        <link rel="apple-touch-icon-precomposed" href="{{favicon_152_url}}">
        <meta property="og:image" content="{{favicon_152_url}}">
        <meta property="og:site_name" content="Penny Dreadful Magic">
        <meta property="og:type" content="website">
        {{#og_title}}
            <meta property="og:title" content="{{og_title}}">
            <meta property="og:url" content="{{og_url}}">
            <meta property="og:description" content="{{og_description}}">
        {{/og_title}}
    </head>
    <body>
        <header>
            {{> language_switcher}}
            <h1><a href="{{home_url}}">PDBot Stats</a></h1>
        </header>
        <nav>
            {{> menu}}
        </nav>
        <main>
