<table class="with-marginalia">
    <thead>
        <tr>
            <th class="marginalia" data-sortInitialOrder="desc">⇅</th>
            <th>ID</th>
            {{^hide_host}}
                <th>Host</th>
            {{/hide_host}}
            {{^hide_opponent}}
                <th data-sortInitialOrder="desc">Opponent</th>
            {{/hide_opponent}}
            {{^hide_format}}
                <th data-sortInitialOrder="desc">Format</th>
            {{/hide_format}}
            {{^hide_comment}}
                <th>Comment</th>
            {{/hide_comment}}
            <th data-sortInitialOrder="desc">Date</th>
        </tr>
    </thead>
    <tbody>
        {{#matches}}
            {{> matchrow}}
        {{/matches}}
    </tbody>
</table>
