<ul class="menu badges">
    {{#menu}}
        <li>
            <a class="menuitem" href="{{url}}">{{name}}</a>
            {{#badge}}
                <span class="badge"><a href="{{url}}">{{text}}</a></span>
            {{/badge}}
            {{#has_submenu}}
                <ul class="submenu">
                    {{#submenu}}
                         <li><a href="{{url}}">{{name}}</a></li>
                    {{/submenu}}
                </ul>
            {{/has_submenu}}
        </li>
    {{/menu}}
</ul>
