{{#has_pagination}}
    <div class="pagination">
        {{#has_prev}}
            <a class="prev" href="{{prev_url}}">← Previous Page</a>
        {{/has_prev}}
        {{#has_next}}
            <a class="next" href="{{next_url}}">Next Page →</a>
        {{/has_next}}
    </div>
{{/has_pagination}}