<section>
    <h1>People</h1>
    <table class="with-marginalia">
        <thead>
            <tr>
                <th class="marginalia" data-sortInitialOrder="desc">⇅</th>
                <th>Name</th>
                <th># of Matches</th>
                <th>Favorite Format</th>
            </tr>
        </thead>
        <tbody>
            {{#people}}
                <tr>
                    <td class="marginalia">{{{stars_safe}}}</td>
                    <td><a href="{{url}}">{{name}}</a></td>
                    <td>{{num_matches}}</td>
                    <td>{{fav_format}}</td>
                </tr>
            {{/people}}
        </tbody>
    </table>

    {{> pagination}}
</section>
