<article>
    <h1>{{_ This Site}}</h1>
    <p>{{_ Penny Dreadful Magic is a site for everything to do with the [Penny Dreadful Magic Online format]({about_url})).}}</p>
    <p>{{_ Penny Dreadful Magic is run by the folks from [Penny Dreadful Tools](https://github.com/PennyDreadfulMTG/Penny-Dreadful-Tools/). Feel free to [open a ticket](https://github.com/PennyDreadfulMTG/Penny-Dreadful-Tools/issues) for a problem or feature request.}}</p>
    <p><a class="external" href="https://status.pennydreadfulmagic.com/">{{_ Status}}</a></p>
    <p>{{_ This site is currently translated into:}} {{languages}}
    <br/>
    <a href="https://poeditor.com/join/project/sZ94JeTk1V">{{TT_HELP_TRANSLATE}}</a>
    </p>
    <br/>
    <p class="build-commit-id">build-commit-id: {{commit_id}} ({{git_branch}})</p>
</article>
