<article>
    <h1>Penny Dreadful</h1>

    <p>A Magic Online format featuring cards like <b class="card">Chain Lightning</b>, <b class="card">Hypergenesis</b>, <b class="card">Cruel Ultimatum</b>, and over 10,000 more.</p>

    <p>The <b>cheapest</b> Magic format ever played. <b>Every deck in the format costs less than a dollar</b>.</p>

    <p>A brewer's paradise. A card pool nearly as big as Modern with gems (and jank) waiting to be discovered.</p>

    <p>A diverse format with countless different archetypes. Winners of past tournaments include Reanimator, Red Deck Wins, Heroic, Aristocrats, Demonic Rising, Abzan Midrange, Elves, Grenzo Combo, Dragon Control and Vampires in one season alone.</p>

    <p>An online community with its own lively <a href="https://discord.gg/H6EHdHu">Discord</a>, <a href="https://www.reddit.com/r/PennyDreadfulMTG/">subreddit</a> and multiple weekly tournaments. <a href="https://discord.gg/H6EHdHu">Join us!</a></p>
</article>
