<section>
    <h2>About</h2>
    <p>Penny Dreadful Magic is a site for everything to do with the <a href="http://pdmtgo.com/">Penny Dreadful Magic: the Gathering format</a>.</p>
    <p>Penny Dreadful Magic is run by the folks from <a href="https://github.com/PennyDreadfulMTG/Penny-Dreadful-Tools/">Penny Dreadful Tools</a>. Feel free to <a href="https://github.com/PennyDreadfulMTG/Penny-Dreadful-Tools//issues">open an issue</a> for a problem or feature request.</p>
    <br />
    <p class="build-commit-id">build-commit-id: {{commit_id}}</p>
</section>
