<article>
    <p>Penny Dreadful Magic is a site for everything to do with the <a href="{{about_url}}">Penny Dreadful Magic Online format</a>.</p>
    <p>Penny Dreadful Magic is run by the folks from <a class="external" href="https://github.com/PennyDreadfulMTG/Penny-Dreadful-Tools/">Penny Dreadful Tools</a>. Feel free to <a class="external" href="https://github.com/PennyDreadfulMTG/Penny-Dreadful-Tools//issues">open a ticket</a> for a problem or feature request.</p>
    <p><a class="external" href="https://status.pennydreadfulmagic.com/">Status</a></p>
    <p>{{_ This site is currently translated into:}} {{languages}}
    <br/>
    <a href="https://poeditor.com/join/project/sZ94JeTk1V">{{TT_HELP_TRANSLATE}}</a>
    </p>
    <br/>
    <p class="build-commit-id">build-commit-id: {{commit_id}} ({{git_branch}})</p>
</article>
