<article>
    <h1>Penny Dreadful</h1>

    {{#show_gp_card}}
        <p><img src="{{gp_card_url}}"></p>
    {{/show_gp_card}}

    <p><b>A Magic Online format</b> featuring cards like {{#cards}}<b class="card">{{name}}</b>, {{/cards}} and over 10,000 more.</p>

    <p><b>The cheapest format ever played</b>. Every deck in the format costs less than a dollar</b>.</p>

    <div class="video-wrapper">
        <iframe src="https://www.youtube.com/embed/nTkqwmnCPu0" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
    </div>

    <p><b>A brewer's paradise</b>. A card pool as big as Modern with gems (and jank) waiting to be discovered.</p>

    <p><b>A diverse format</b> with countless different archetypes. Winners of past tournaments include Reanimator, Red Deck Wins, Heroic, Aristocrats, Demonic Rising, Abzan Midrange, Elves, Grenzo Combo, Dragon Control and Vampires in one season alone.</p>

    <p><b>Tons of organized play</b>. Four weekly tournaments and an ongoing league competition.</p>

    <p><b>A friendly online community</b> with its own lively <a class="external" href="https://discord.gg/H6EHdHu">Discord</a> and <a class="external" href="https://www.reddit.com/r/PennyDreadfulMTG/">subreddit</a>. <a class="external" href="https://discord.gg/H6EHdHu">Join us!</a></p>

</article>
