<h1>Achievements</h1>
<section>
    <dl>
        {{#achievement_descriptions}}
        <dt>{{title}}</dt>
        <dd>{{{description_safe}}}</dd>
        {{#summary}}<dd>{{summary}}</dd>{{/summary}}
        {{/achievement_descriptions}}
    </dl>
</section>

{{#person_url}}
    <section>
        <p>See your achievements on your <a href="{{person_url}}">player page</a>.</p>
    </section>
{{/person_url}}
