<h1>Add Deck</h1>
<form method="post" action="{{add_deck_url}}">
    <div class="url">
        <label for="date">Deck URL</label>
        <input type="text" name="url" id="url">
    </div>
    <button type="submit">Add Deck</button>
    <div class="error">{{error}}</div>
</form>
