<section>
    <h2>{{name}}</h2>
    <table class="with-marginalia">
        <!-- BAKERT header row? new subtemplate for the whole table? -->
        {{#decks}}
            {{> deckrow}}
        {{/decks}}
    </table>
</section>
