<h1>{{name}}</h1>
<section>
    <h2>Archetype Tree</h2>
    {{> archetypetree}}
</section>
{{#has_most_common_cards}}
    <section>
        <h2>Most Common Cards</h2>
        <ul>
            {{#most_common_cards}}<li>{{> singlecard}}</li>{{/most_common_cards}}
        </ul>
    </section>
{{/has_most_common_cards}}
{{#show_best_decks}}
    <section>
        <h2>Top Decks</h2>
        {{#best_decks}}{{> decktable}}{{/best_decks}}
    </section>
{{/show_best_decks}}
{{#show_matchups}}
    <section>
        <h2>Matchups</h2>
        {{#matchups_container}}
            {{> archetypetree}}
        {{/matchups_container}}
    </section>
{{/show_matchups}}
<section>
    <h2>All Decks</h2>
    {{> decktable}}
</section>
