{{#show_archetype_tree}}
    <section>
        <h2>Archetype Tree</h2>
        {{> archetypetree}}
    </section>
{{/show_archetype_tree}}
<section>
    <h2>Decks</h2>
    {{> livedecktable}}
</section>
<section>
    <h2>Cards</h2>
    {{> livecardtable}}
</section>
{{#history_chart}}
    <section class="history-chart">
        <h2>Meta Share By Season</h2>
        <canvas class="chart" data-type="{{type}}" data-labels="{{labels}}" data-series="{{series}}" data-options="{{options}}"></canvas>
    </section>
{{/history_chart}}
{{#show_record}}
    <section>
        <h2>Matchups</h2>
        {{#matchups}}
            {{> archetypetree}}
        {{/matchups}}
    </section>
{{/show_record}}
