<input class="archetype-option" data-option-type="archetypes" type="text" autocomplete="off" placeholder="Search archetypes" value="{{selected_archetype_name}}"{{#archetype_required}} required{{/archetype_required}}>
<input name="{{prefix}}archetype_id" type="hidden" value="{{selected_archetype_id}}">
