{{> spinner}}
<table class="archetypes">
    <thead>
        <tr>
            <td></td>
            <th class="legend" colspan="{{#hide_num_decks}}2{{/hide_num_decks}}{{^hide_num_decks}}3{{/hide_num_decks}}" data-sortInitialOrder="desc">This Season</th>
            <th class="legend" colspan="{{#hide_num_decks}}2{{/hide_num_decks}}{{^hide_num_decks}}3{{/hide_num_decks}}" data-sortInitialOrder="desc">All Time</th>
        </tr>
        <tr>
            <th data-lockedorder="asc">Archetype</th>
            {{^hide_num_decks}}
                <th data-sortInitialOrder="desc"># Decks</th>
            {{/hide_num_decks}}
            <th data-sortInitialOrder="desc">Record</th>
            <th class="divider" data-sortInitialOrder="desc">Win %</th>
            {{^hide_num_decks}}
                <th data-sortInitialOrder="desc"># Decks</th>
            {{/hide_num_decks}}
            <th data-sortInitialOrder="desc">Record</th>
            <th data-sortInitialOrder="desc">Win %</th>
        </tr>
    </thead>
    <tbody>
        {{#roots}}
            {{#archetype_tree}}
                {{^hide_archetype}}
                    <tr class="archetype archetype-{{depth}}{{#current}} current{{/current}}">
                        <td data-sort="{{sort}}" class="primary initial"><a href="{{url}}">{{name}}</a></td>
                        {{^hide_num_decks}}
                            <td class="n">{{season_num_decks}}</td>
                        {{/hide_num_decks}}
                        <td class="n">{{#season_show_record}}{{season_wins}}–{{season_losses}}{{#season_draws}}–{{season_draws}}{{/season_draws}}{{/season_show_record}}</td>
                        <td class="n divider">{{#season_show_record}}{{season_win_percent}}{{/season_show_record}}</td>
                        {{^hide_num_decks}}
                            <td class="n">{{all_num_decks}}</td>
                        {{/hide_num_decks}}
                        <td class="n">{{#all_show_record}}{{all_wins}}–{{all_losses}}{{#all_draws}}–{{all_draws}}{{/all_draws}}{{/all_show_record}}</td>
                        <td class="n">{{#all_show_record}}{{all_win_percent}}{{/all_show_record}}</td>
                    </tr>
                {{/hide_archetype}}
            {{/archetype_tree}}
        {{/roots}}
    </tbody>
</table>
