<select name="{{prefix}}archetype_id">
    <option value="">[Select]</option>
    {{#archetypes}}
        <option value="{{id}}" {{#selected}}selected="selected"{{/selected}}>{{name}}</option>
    {{/archetypes}}
</select>
