<section>
    <table>
        <thead>
            <tr>
                <th>Season</th>
                <th>Cards</th>
                <th>Background</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#banners}}
                <tr>
                    <td>{{num}}</td>
                    <td>{{cards}}</td>
                    <td>{{background}}</td>
                    <td ></td>
                </tr>
            {{/banners}}
        </tbody>
    </table>
</section>
