<div class="banner">
    <div class="title">
        <h1>{{page_title}}</h1>
    </div>
    <ul class="buttons">
        <li>{{> tournamenttoggle}}</li>
        <li>{{> seasonchooser}}</li>
    </ul>
</div>
