<div class="banner">
    {{^is_home_page}}
        <div class="title">
            <h1
                {{#is_error_page}}class="error"{{/is_error_page}}
                {{#is_person_page}}class="person"{{/is_person_page}}
                {{#is_deck_page}}class="deck-name"{{/is_deck_page}}
            >{{page_title}}</h1>
            {{> subtitle}}
        </div>
    {{/is_home_page}}
    {{#has_buttons}}
        {{> buttons}}
    {{/has_buttons}}
</div>
