<div class="banner">
    <div class="title">
        <h1 {{#is_person_page}}class="person"{{/is_person_page}}>{{page_title}}</h1>
    </div>
    <ul class="buttons">
        <li>{{> filterstoggle}}</li>
        <li>{{> tournamenttoggle}}</li>
        <li>{{> seasonchooser}}</li>
    </ul>
</div>
