<h2><a name="bugs">{{_ Magic Online Bugs}}</a></h2>

<p>{{_ We allow the playing of cards with known bugs in Penny Dreadful with specific conditions.}}</p>

<p>{{_ The important rules are: }}</p>

<ul>
    <li>{{_ Do not play cards with game-breaking bugs (exception: cards that are only bugged in multiplayer games).}}</li>
    <li>{{_ Gaining advantage from a bug unintentionally will result in a game loss. The player with the bugged card should concede the game and begin the next one (if any).}}</li>
    <li>{{_ Gaining advantage from a bug intentionally will result in disqualification.}}</li>
    <li>{{_ The Tournament Organizer's decision is final.}}</li>
</ul>

<p>{{_ **Example of Game Loss**: Playing Living Lore with two cards in graveyard and opponent removes one at instant speed with a card from their hand forcing the Living Lore player to imprint a split card.}}</p>

<p>{{_ **Second example of Game Loss**: Playing Profane Command using the mode that targets an opponent. Opponent plays Gilded Light in response.}}</p>

<p>{{_ **Example of Disqualification**: Playing Living Lore and intentionally choosing a split card from a stocked graveyard to get an oversized Living Lore.}}</p>

<p>{{_ In the case where a bugged interaction only becomes known to a player during a competitive match, at the Tournament Organizer's discretion, a game loss or match loss may be imposed rather than a disqualification.}}</p>

<p>{{_ The game loss should be enacted by the bugged cards controller conceding the game.}}</p>

<p>{{_ Any confusion should be discussed with the Tournament Organizer before conceding the game or ending the match, on the bugged card player's clock.}}</p>

<p>{{_ When a new bug is encountered for the first time (does not appear at [pennydreadfulmagic.com/bugs]({bugs_url})) during a competitive match both players may agree to play on.}}</p>

<p>{{_ If either player does not agree the player with the bugged cards must swap out the bugged cards (only) from their decklist, restart the match, players concede games in the correct order until the record matches the record before the bugged game. Sideboarding then takes place if it was not game 1 and the rest of the match plays out.}}</p>

<p>{{_ For all these matters the Tournament Organizer has the flexibility to rule as they see fit and their decision is final.}}</p>

<p><a href="{{bugs_url}}">{{_ List of all known bugged cards}}</a></p>
