<section>
    <p><a class="external" href="https://github.com/PennyDreadfulMTG/modo-bugs/issues/">Report a Magic Online Bug</a></p>
    <p>
        <span class="inline">
            <input type="checkbox" class="toggle-illegal" name="toggle_illegal">
            <label for="toggle_illegal">Hide cards not legal in Penny Dreadful</label>
        </span>
    </p>
    <table class="bugtable">
        <thead>
            <tr class="wide">
                <th>Card</th>
                <th>Bug</th>
                <th data-sortInitialOrder="desc">Severity</th>
                <th>Read More</th>
            </tr>
        </thead>
        <tbody>
            {{#cards}}
                {{#bugs}}
                    <tr class="wide">
                        <td>{{> singlecard}}</td>
                        <td class="wide">{{description}}</td>
                        <td class="{sorter: 'bugseverity'}">{{classification}}</td>
                        <td>
                            <a href="{{url}}" title="Github"><img class="github" src={{github_icon}} /></a>
                            {{#from_bug_blog}}
                                <a href="{{bug_blog_url}}" title="Bug Blog"><i class="ss ss-pmei ss-2x"></i></a>
                            {{/from_bug_blog}}
                        </td>
                    </tr>
                {{/bugs}}
            {{/cards}}
        </tbody>
    </table>
    <p><a class="external" href="https://github.com/PennyDreadfulMTG/modo-bugs/issues/">Report a Magic Online Bug</a></p>
    <p><a href="{{tournament_bugs_url}}">Tournament Bug Rules</a></p>
</section>
