<ul class="buttons">
	{{#has_external_source}}
		<li>{{> sourcebutton }}</li>
    {{/has_external_source}}
    {{#show_tournament_toggle}}
        <li>{{> tournamenttoggle}}</li>
    {{/show_tournament_toggle}}
    {{#show_seasons}}
        <li>{{> seasonchooser}}</li>
    {{/show_seasons}}
    {{#is_deck_page}}
        <li><a title="Magic Online Download (txt)" href="{{export_url}}">Download</a></li>
        <li><a title="Buy on Cardhoarder" class="external" href="{{cardhoarder_url}}">Buy</a></li>
        <li><a title="View decklist source ({{source_name}})" {{#source_is_external}}class="external"{{/source_is_external}} href="{{source_url}}">Source</a></li>
    {{/is_deck_page}}
</ul>
