<h1>{{name}}</h1>
<section>
    <img src="{{img_url}}" alt="{{name}}" class="card-img">
    {{#bug_desc}}
        <p class="bugged"><b>{{bug_class}} bug</b> {{bug_desc}}</p>
    {{/bug_desc}}
</section>
{{#played_competitively}}
    <section>
        <h2>Record</h2>
        <table>
            <thead>
                <tr>
                    <th class="legend" colspan="3">This Season</th>
                    <th class="legend" colspan="3">All Time</th>
                </tr>
                <tr>
                    <th># Decks</th>
                    <th>Record</th>
                    <th class="divider">Win %</th>
                    <th># Decks</th>
                    <th>Record</th>
                    <th>Win %</th>
                </tr>
            </thead>
            <tbody>
                {{#season}}
                    <td class="n">{{num_decks}}</td>
                    <td class="n">{{> record}}</td>
                    <td class="n divider">{{win_percent}}</td>
                {{/season}}
                {{#all}}
                    <td class="n">{{num_decks}}</td>
                    <td class="n">{{> record}}</td>
                    <td class="n">{{win_percent}}</td>
                {{/all}}
            </tbody>
        </table>
    </section>
{{/played_competitively}}
<section>
    <h2>Most Commonly Played With</h2>
    <ul>
        {{#most_common_cards}}<li>{{> singlecard}}</li>{{/most_common_cards}}
    </ul>
</section>
{{> legal}}
{{#has_decks}}
    <section>
        <h2>Decks containing {{name}}</h2>
        {{> decks}}
    </section>
{{/has_decks}}
