<h1>Filter</h1>

<span id="cardsfilter-white" class="filter-active filtertype-color">White</span>
<span id="cardsfilter-blue" class="filter-active filtertype-color">Blue</span>
<span id="cardsfilter-black" class="filter-active filtertype-color">Black</span>
<span id="cardsfilter-red" class="filter-active filtertype-color">Red</span>
<span id="cardsfilter-green" class="filter-active filtertype-color">Green</span>
