<h1>{{name}}</h1>
<section>
    <img src="{{img_url}}" alt="{{name}}" class="card-img {{card_img_class}}">
    {{#bug_desc}}
        <p class="bug-desc {{card_img_class}}"><b>{{bug_class}} bug</b> {{bug_desc}}</p>
    {{/bug_desc}}
</section>
{{#played_competitively}}
    <section>
        <h2>Record</h2>
        <table>
            <thead>
                <tr>
                    <th class="legend" colspan="3">This Season</th>
                    <th class="legend" colspan="3">All Time</th>
                </tr>
                <tr>
                    <th># Decks</th>
                    <th>Record</th>
                    <th class="divider">Win %</th>
                    <th># Decks</th>
                    <th>Record</th>
                    <th>Win %</th>
                </tr>
            </thead>
            <tbody>
                <td class="n">{{season_num_decks}}</td>
                <td class="n">{{#season_show_record}}{{season_wins}}–{{season_losses}}{{#season_draws}}–{{season_draws}}{{/season_draws}}{{/season_show_record}}</td>
                <td class="n divider">{{season_win_percent}}</td>
                <td class="n">{{all_num_decks}}</td>
                <td class="n">{{#all_show_record}}{{all_wins}}–{{all_losses}}{{#all_draws}}–{{all_draws}}{{/all_draws}}{{/all_show_record}}</td>
                <td class="n">{{all_win_percent}}</td>
            </tbody>
        </table>
    </section>
{{/played_competitively}}
{{#has_most_common_cards}}
    <section>
        <h2>Most Commonly Played With</h2>
        <ul>
            {{#most_common_cards}}<li>{{> singlecard}}</li>{{/most_common_cards}}
        </ul>
    </section>
{{/has_most_common_cards}}
{{> legal}}
{{#has_decks}}
    <section>
        <h2>Decks containing {{name}}</h2>
        {{> decktable}}
    </section>
{{/has_decks}}
