{{> banner}}
<section>
    <button id="toggle-filters-button" onclick="PD.filter.toggleDisplayFilter()">Show filters</button>
    <div id="filters-container" hidden>
        {{> scryfallfilter}}
    </div>
    {{> cardstable}}
</section>
