{{> spinner}}
<table class="cards-table">
    <thead>
        <tr class="timespan">
            <td></td>
            <th class="legend" colspan="3" data-sortInitialOrder="desc">This Season</th>
            <th class="legend" colspan="3" data-sortInitialOrder="desc">All Time</th>
        </tr>
        <tr>
            <th>Card</th>
            <th data-sortInitialOrder="desc"># Decks</th>
            <th data-sortInitialOrder="desc">Record</th>
            <th data-breakpoints="xs" class="divider" data-sortInitialOrder="desc">Win %</th>
            <th data-breakpoints="xs" data-sortInitialOrder="desc"># Decks</th>
            <th data-breakpoints="xs" data-sortInitialOrder="desc">Record</th>
            <th data-breakpoints="xs" data-sortInitialOrder="desc">Win %</th>
            {{! Empty column to hold the toggle when footable kicks in.}}
            <td></td>
        </tr>
    </thead>
    <tbody>
        {{#cards}}
            <tr>
                <td>{{> singlecard}}</td>
                <td class="n">{{season_num_decks}}</td>
                <td class="n">{{#season_show_record}}{{season_wins}}–{{season_losses}}{{#season_draws}}–{{season_draws}}{{/season_draws}}{{/season_show_record}}</td>
                <td class="n divider">{{#season_show_record}}{{season_win_percent}}{{/season_show_record}}</td>
                <td class="n">{{all_num_decks}}</td>
                <td class="n">{{#all_show_record}}{{all_wins}}–{{all_losses}}{{#all_draws}}–{{all_draws}}{{/all_draws}}{{/all_show_record}}</td>
                <td class="n">{{#all_show_record}}{{all_win_percent}}{{/all_show_record}}</td>
                {{! Empty column to hold the toggle when footable kicks in.}}
                <td></td>
            </tr>
        {{/cards}}
    </tbody>
</table>
