<table>
    <thead>
        <tr>
            <td></td>
            <th class="legend" colspan="8" data-sortInitialOrder="desc">This Season</th>
            <th class="legend" colspan="8" data-sortInitialOrder="desc">All Time</th>
        </tr>
        <tr>
            <td></td>
            <th class="legend" colspan="3" data-sortInitialOrder="desc"># Decks</th>
            <th class="legend" colspan="3" data-sortInitialOrder="desc"># Cards</th>
            <td></td>
            <td class="divider"></td>
            <th class="legend" colspan="3" data-sortInitialOrder="desc"># Decks</th>
            <th class="legend" colspan="3" data-sortInitialOrder="desc"># Cards</th>
            <td></td>
            <td></td>
        <tr>
        <tr>
            <th>Card</th>
            <th data-sortInitialOrder="desc">Total</th>
            <th data-sortInitialOrder="desc">Main</th>
            <th data-sortInitialOrder="desc">Side</th>
            <th data-sortInitialOrder="desc">Total</th>
            <th data-sortInitialOrder="desc">Main</th>
            <th data-sortInitialOrder="desc">Side</th>
            <th data-sortInitialOrder="desc">Record</th>
            <th class="divider" data-sortInitialOrder="desc">Win %</th>
            <th data-sortInitialOrder="desc">Total</th>
            <th data-sortInitialOrder="desc">Main</th>
            <th data-sortInitialOrder="desc">Side</th>
            <th data-sortInitialOrder="desc">Total</th>
            <th data-sortInitialOrder="desc">Main</th>
            <th data-sortInitialOrder="desc">Side</th>
            <th data-sortInitialOrder="desc">Record</th>
            <th data-sortInitialOrder="desc">Win %</th>
        </tr>
    </thead>
    <tbody>
        {{#cards}}
            <tr>
                <td>{{> singlecard}}</td>
                {{#season}}
                    <td class="n">{{n_decks}}</td>
                    <td class="n">{{n_maindecks}}</td>
                    <td class="n divider">{{n_sideboards}}</td>
                    <td class="n">{{count_decks}}</td>
                    <td class="n">{{count_maindecks}}</td>
                    <td class="n divider">{{count_sideboards}}</td>
                    <td class="n">{{> record}}</td>
                    <td class="n divider">{{#show_record}}{{win_percent}}{{/show_record}}</td>
                {{/season}}
                {{#all}}
                    <td class="n">{{n_decks}}</td>
                    <td class="n">{{n_maindecks}}</td>
                    <td class="n divider">{{n_sideboards}}</td>
                    <td class="n">{{count_decks}}</td>
                    <td class="n">{{count_maindecks}}</td>
                    <td class="n divider">{{count_sideboards}}</td>
                    <td class="n">{{> record}}</td>
                    <td class="n">{{#show_record}}{{win_percent}}{{/show_record}}</td>
                {{/all}}
            </tr>
        {{/cards}}
    </tbody>
</table>
