<div>
    <label for="{{prefix}}archetype_name">{{_ Archetype}}</label>
    <input id="{{prefix}}archetype_name" name="{{prefix}}archetype_name" class="matchup-option" data-option-type="archetypes" type="text" autocomplete="off" placeholder="Search archetypes" value="{{archetype_name}}">
    <input name="{{prefix}}archetype_id" type="hidden" value="{{archetype_id}}">
</div>
<div>
    <label for="{{prefix}}person_name">{{_ Person}}</label>
    <input id="{{prefix}}person_name" name="{{prefix}}person_name" class="matchup-option" data-option-type="people" type="text" autocomplete="off" placeholder="Search people" value="{{person_label}}">
    <input name="{{prefix}}person_id" type="hidden" value="{{person_id}}">
</div>
<div>
    <label for="{{prefix}}card_name">{{_ Card}}</label>
    <input id="{{prefix}}card_name" name="{{prefix}}card_name" class="matchup-option" data-option-type="cards" type="text" autocomplete="off" placeholder="Search cards" value="{{card}}">
    <input name="{{prefix}}card" type="hidden" value="{{card}}">
</div>
