<article>
    <h1>{{_ Community Guidelines}}</h1>

    <p>{{_ We respect the Wizards of the Coast ["Commitment to Each Other"](https://magic.wizards.com/en/articles/archive/news/commitment-each-other-building-community-together-2017-12-19).}}</p>

    <p>{{_ **Put fun first**. Keep it friendly, respectful and fun.}}</p>

    <p>{{_ **Welcome everyone**. Magic Online first-timers, people coming back to the game for the first time in a long time, children, j_meka… everyone!}}</p>

    <p>{{_ **Respect your environment**. This means no "bad manners" in Magic Online chat. No unpleasantness in Discord. No going to Discord to talk about how terrible your last opponent was (they are probably there reading what you are saying!) If you've made a point don't argue it for hours. Don't be unrelentingly negative. In general be the kind of player you'd like to see in the community. Go easy on "ban chat".}}</p>

    <p>{{_ **Follow the rules**. Although Magic Online enforces a lot of the rules for us there are still bugs and other issues that require players to cooperate to resolve. If in doubt talk to the Tournament Organizer or a Discord moderator.}}</p>
</article>
