{{> banner}}
<section>
    <table>
        <thead>
            <th>Competition</th>
            <th class="n" data-breakpoints="xs">Entries</th>
            <th data-breakpoints="xs">Date</th>
            {{! Empty column to hold the toggle when footable kicks in. }}
            <td></td>
        </thead>
        <tbody>
            {{#competitions}}
                {{#num_decks}}
                    <tr>
                        <td><a href="{{competition_url}}">{{{name}}}</a></td>
                        <td class="n"><a href="{{competition_url}}">{{{num_decks}}}</a></td>
                        <td data-text="{{date_sort}}"><a href="{{competition_url}}">{{{display_date}}}</a></td>
                        {{! Empty column to hold the toggle when footable kicks in. }}
                        <td></td>
                    </tr>
                {{/num_decks}}
            {{/competitions}}
        </tbody>
    </table>
</section>
