<section>
    <table>
        <thead>
            <th>Competition</th>
            <th class="n">Entries</th>
            <th>Date</th>
        </thead>
        <tbody>
            {{#competitions}}
                {{#num_decks}}
                    <tr>
                        <td><a href="{{competition_url}}">{{{name}}}</a></td>
                        <td class="n"><a href="{{competition_url}}">{{{num_decks}}}</a></td>
                        <td data-text="{{date_sort}}"><a href="{{competition_url}}">{{{display_date}}}</a></td>
                    </tr>
                {{/num_decks}}
            {{/competitions}}
        </tbody>
    </table>
</section>
