<section>
    <h2>Decks</h2>
    {{> livedecktable}}
    {{#sponsor_name}}<p>Sponsored by {{sponsor_name}}</p>{{/sponsor_name}}
</section>
{{#has_leaderboard}}
    <section>
        <h2>Leaderboard</h2>
        {{> liveleaderboardtable}}
    </section>
{{/has_leaderboard}}
