<section>
    <h2>Decks</h2>
    {{> livedecktable}}
    {{#sponsor_name}}<p>Sponsored by {{sponsor_name}}</p>{{/sponsor_name}}
</section>
{{#has_leaderboard}}
    <section>
        <h2>Leaderboard</h2>
        {{> liveleaderboardtable}}
    </section>
{{/has_leaderboard}}
{{#show_archetype_tree}}
    <section>
        <h2>Archetypes</h2>
        {{> archetypetree}}
    </section>
{{/show_archetype_tree}}
<section>
    <h2>Cards</h2>
    {{> livecardtable}}
</section>
