<section>
    <h2>{{name}}</h2>
    {{#league}}
    <p>Sponsored by <a href="http:///mtgotraders.com/">MTGO Traders</a></p>
    <p>When you complete a five match league run for the first time ever you will get 1 tik credit with MTGO Traders.</p>
    {{/league}}
    {{#ends}}<p><i>Ends {{ends}}.</i></p>{{/ends}}
    {{> decks}}
</section>
{{#has_leaderboard}}
    <section>
        <h2>Leaderboard</h2>
        <table>
            <thead>
                <tr>
                    <th>Person</th>
                    <th data-sortInitialOrder="desc">Points</th>
                </tr>
            </thead>
            <tbody>
                {{#leaderboard}}
                    <tr>
                        <td><a href="{{url}}">{{person}}</a></td>
                        <td class="n">{{points}}</td>
                    </tr>
                {{/leaderboard}}
            </tbody>
        </table>
    </section>
{{/has_leaderboard}}
