<p>If you have a problem please <a href="https://github.com/PennyDreadfulMTG/Penny-Dreadful-Tools/issues">report it on github</a> or in the <a href="https://discord.gg/H6EHdHu">#code channel on the discord</a>.</p>
