<p>If you have a problem please <a class="external" href="https://github.com/PennyDreadfulMTG/Penny-Dreadful-Tools/issues/">report it on github</a> or in the <a class="external" href="https://discord.gg/H6EHdHu">#code channel on the discord</a>.</p>
<p>Email contact: hello@pennydreadfulmagic.com</p>
