<script>
    const prefersDarkMode = () => {
        if (localStorage.getItem('prefersDarkMode')) {
           return localStorage.getItem('prefersDarkMode') === 'true';
        }
        return (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches);
    };
    const setDarkMode = () => {
        document.documentElement.classList.toggle('dark-mode', prefersDarkMode());
    }
    setDarkMode();
</script>
