<script>
    const prefersDarkMode = () => {
        if (localStorage.getItem('prefersDarkMode')) {
           return localStorage.getItem('prefersDarkMode') === 'true';
        }
        return (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches);
    };
    // Add .dark-mode to the html element if that's what we think they want.
    (() => { document.documentElement.classList.toggle('dark-mode', prefersDarkMode()) })();
</script>
