<table class="with-marginalia">
    <thead>
        <tr>
            <th class="marginalia" data-sortInitialOrder="desc">⇅</th>
            <th>Colors</th>
            <th>Name</th>
            {{^hide_person}}
                <th>Person</th>
            {{/hide_person}}
            {{#show_archetype}}
                <th>Archetype</th>
            {{/show_archetype}}
            {{^hide_source}}
                <th>Source</th>
            {{/hide_source}}
            <th class="n" data-sortInitialOrder="desc">Record</th>
            {{#show_omw}}
                <th title="Opponent's Match Win" data-sortInitialOrder="desc">OMW</th>
            {{/show_omw}}
            {{^hide_top8}}
                <th class="c">Top 8</th>
            {{/hide_top8}}
            <th data-sortInitialOrder="desc">Date</th>
            {{#show_legal_seasons}}
                <th>Season</th>
            {{/show_legal_seasons}}
        </tr>
    </thead>
    <tbody>
        {{#active_runs_text}}
            <tr>
                <td class="marginalia"><span class="active" title="Active in the current league">⊕</span></td>
                <td></td>
                <td>{{active_runs_text}}</td>
            </tr>
        {{/active_runs_text}}
        {{^tournament_only}}
            {{#decks}}
                {{> deckrow}}
            {{/decks}}
        {{/tournament_only}}
        {{#tournament_only}}
            {{#decks_tournament}}
                {{> deckrow}}
            {{/decks_tournament}}
        {{/tournament_only}}
    </tbody>
</table>
