<section>
    <h2>{{name}} by <a href="{{person_url}}">{{person}}</a></h2>
    {{#sections}}
        {{> section}}
    {{/sections}}
</section>
{{#has_record}}
    <section>
        <h2>Competition</h2>
        <table class="with-marginalia" style="width: 40em">
            {{#competition_id}}
                <tr><td class="marginalia">{{stars}}</td>
                <td style="width: {{row_len}};"><a href="{{competition_url}}">
                    {{competition_name}}
                    (Piloted by {{person}})
                    {{wins}}–{{losses}}{{#draws}}–{{draws}}{{/draws}}
                    {{top8}}
                </a></td></tr>
            {{/competition_id}}
            {{#twins}}
                {{#competition_id}}
                    <tr><td class="marginalia">{{stars}}</td>
                    <td><a href="{{competition_url}}">
                        {{competition_name}}
                        (Piloted by {{person}})
                        {{wins}}–{{losses}}{{#draws}}–{{draws}}{{/draws}}
                        {{top8}}
                    </a></td></tr>
                {{/competition_id}}
            {{/twins}}
        </table>
    </section>
{{/has_record}}
{{#has_similar}}
    <section>
        <h2>Similar Decks</h2>
        <table class="with-marginalia">
            <!-- BAKERT header row? new subtemplate for the whole table? -->
            {{#similar}}
                {{> deckrow}}
            {{/similar}}
        </table>
    </section>
{{/has_similar}}
<section>
    <h2>Notes</h2>
    <p>Source: <a href="{{source_url}}">{{source_name}}</a></p>
    <p>Export: <a href="{{export_url}}">MTGO (txt)</a></p>
</section>
{{> legal}}