<section>
    <form method="post">
        {{> recentdecks}}
        {{> decklistinput}}
        {{#form.validation_ok_message}}<div class="validation-ok">{{form.validation_ok_message}}</div>{{/form.validation_ok_message}}
        {{> deckerrors}}
        <button type="submit">{{TT_DECKCHECK}}</button>
    </form>
</section>
<section>
    {{> contact}}
</section>
