{{#public}}
    <section>
        {{#sections}}
            {{> section}}
        {{/sections}}
    </section>
    <section>
        <h2>Mana Costs</h2>
        <img src="{{cmc_chart_url}}" width="200">
        <p>{{average_cmc}} average</p>
    </section>
{{/public}}
{{^public}}
    <section>
        <h2>Decklist</h2>
        <p>This deck is hidden because it is active in the league.</p>
        {{^person_id}}
            {{^discord_id}}
                <p>If it's your deck <a href="{{authenticate_url}}">login with discord</a> to see it.</p>
            {{/discord_id}}
            {{#discord_id}}
                <p>Your account is not linked. Please use the status bar to link it</a>.</p>
            {{/discord_id}}
        {{/person_id}}
        {{#person_id}}
            <p>You are logged in but this deck is not yours. <a href="{{logout_url}}">Logout</a></p>
        {{/person_id}}
    </section>
{{/public}}
{{#has_matches}}
    <section>
        <h2>Competition</h2>
        <table class="with-marginalia">
            <thead>
                <tr>
                    <td class="marginalia"></td>
                    <th>Competition</th>
                    <th>Record</th>
                    <th class="c">Top 8</th>
                    <th title="Opponent's Match Win">OMW</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="marginalia">{{{stars_safe}}}</td>
                    <td><a href="{{competition_url}}">{{competition_name}}</a></td>
                    <td class="n" ><a href="{{competition_url}}">{{> record}}</a></td>
                    <td class="c"><a href="{{competition_url}}">{{{top8_safe}}}</a></td>
                    <td class="n"><a href="{{competition_url}}">{{omw}}</a></td>
                </tr>
            </tbody>
        </table>
        {{> deckmatches}}
    </section>
{{/has_matches}}
{{> legal}}
<section class="admin demimod">
    <h2>Admin</h2>
        <p>
            <p>Original name: <span class="deck-name">{{original_name}}</span></p>
            <form class="inline" method="post" action="{{edit_archetype_url}}">
                <input type="hidden" name="deck_id" value="{{id}}">
                {{> archetypedropdown}}
                <button type="submit">Assign</button>
            </form>
        </p>
</section>
