<section>
    <h2>{{name}} by <a href="{{person_url}}">{{person}}</a></h2>
    {{#sections}}
        {{> section}}
    {{/sections}}
</section>
<section>
<p>This deck is {{^pd_legal}}<b>not</b> {{/pd_legal}}currently Penny Dreadful legal.</p>
<p>Source: <a href="{{source_url}}">{{source_name}}</a></p>
</section>