<div class="error">
    {{#form.errors.decklist}}
        <p>{{.}}</p>
    {{/form.errors.decklist}}
    {{#has_not_legal}}
        <p>The following cards are not legal in Penny Dreadful:</p>
        <ul>
            {{#form.card_errors.Legality_Not_Legal}}
                <li>{{.}}</li>
            {{/form.card_errors.Legality_Not_Legal}}
        </ul>
    {{/has_not_legal}}
    {{#has_banned}}
        <p>The following cards are banned:</p>
        <ul>
            {{#form.card_errors.Legality_Banned}}
                <li>{{.}}</li>
            {{/form.card_errors.Legality_Banned}}
        </ul>
    {{/has_banned}}
    {{#has_bugs}}
        <p>The following cards are currently not allowed because of game-breaking Magic Online bugs:</p>
        <ul>
            {{#form.card_errors.Legality_Bugs}}
                <li>{{.}}</li>
            {{/form.card_errors.Legality_Bugs}}
        </ul>
    {{/has_bugs}}
    {{#has_too_many}}
        <p>You have too many of the following cards:</p>
        <ul>
            {{#form.card_errors.Legality_Too_Many}}
                <li>{{.}}</li>
            {{/form.card_errors.Legality_Too_Many}}
        </ul>
    {{/has_too_many}}
</div>
