<h1>League</h1>
<section>
    <h2>Status</h2>
    <p>The league is currently {{status}}.<p>
    <form method="post">
        <button type="submit" name="action" value="{{action}}">{{action_display}} League</button>
    </form>
</section>
