<h1>Matches</h1>
<section>
    <table>
        <tbody>
            {{#matches}}
                <tr class="wide">
                    <td>
                        {{display_date}}
                    </td>
                    <td class="wide">
                        <a href="{{left_url}}">
                            {{#left_deck}}
                                {{name}} ({{person}})
                            {{/left_deck}}
                        </a>
                        {{left_games}} – {{right_games}}
                        <a href="{{right_url}}">
                            {{#right_deck}}
                                {{name}} ({{person}})
                            {{/right_deck}}
                        </a>
                    </td>
                    <td>
                        <form method="post" class="inline">
                            <input type="hidden" name="match_id" value="{{id}}">
                            <button type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
            {{/matches}}
        </tbody>
    </table>
    </form>
</section>
