<h1>Archetypes</h1>
<section>
    <h2>Queue</h2>
    {{> spinner}}
    <form method="post" class="inline">
        <table>
            <thead>
                <tr>
                    <th>Colors</th>
                    <th>Deck Name</th>
                    <th>Source</th>
                    <th>Current</th>
                    <th>Confidence</th>
                    <th>Assign To</th>
            </thead>
            <tbody>
                {{#queue}}
                    <tr>
                        <td>{{{colors_safe}}}</td>
                        <td><a href="{{url}}" title="{{decklist}}">{{name}} ({{id}})</a></td>
                        <td><a href="{{source_url}}">{{source_name}}</a></td>
                        <td>{{archetype_name}}</td>
                        <td>{{confidence}}</td>
                        <td>
                            <input type="hidden" name="deck_id" value="{{id}}">
                            {{> archetypedropdown}}
                        </td>
                    </tr>
                {{/queue}}
            </tbody>
        </table>
        <button type="submit">Assign</button>
    </form>
</section>
<section>
    <h2>Move</h2>
    <form method="post">
        <div>
            <label>Move</label>
            {{> archetypedropdown}}
        </div>
        <div>
            <label>New Parent</label>
            {{> archetypedropdown}}
        </div>
        <button type="submit">Move</button>
    </form>
</section>
<section>
    <h2>Rename</h2>
    <form method="post">
        <div>
            <label for="archetype_id">Rename</label>
            {{> archetypedropdown}}
        </div>
        <div>
            <label for="rename_to">To</label>
            <input type="text" name="rename_to" value="{{rename_to}}">
        </div>
        <button type="submit">Rename</button>
    </form>
</section>
<section>
    <h2>Update description</h2>
    <form method="post">
        <div>
            <label>Update</label>
            {{> archetypedropdown}}
        </div>
        <div>
            <label>New description</label>
            <input type="text" name="new_description" value="">
        </div>
        <button type="submit">Update</button>
    </form>
</section>
<section>
    <h2>Search for Decks</h2>

    <form method="post">
        <div>
            <label for="q">With these cards (separated by newlines)</label>
            <textarea name="q">{{query}}</textarea>
        </div>
        <div>
            <label for="notq">Without these cards</label>
            <textarea name="notq">{{notquery}}</textarea>
        </div>
        <button type="submit">Search by Card</button>
    </form>

    <form method="post">
        <p>Use this tool to automatically find cases where identical decks have been assigned different archetypes.</p>
        <input type="hidden" name="find_conflicts" value="true"></input>
        <button type="submit" name="conflicts">Search for Conflicts</button>
    </form>

    {{#has_search_results}}
        <form method="post" class="inline">
            {{> spinner}}
            <table>
                <thead>
                    <tr>
                        <th>Colors</th>
                        <th>Name</th>
                        <th>Archetype</th>
                        <th>Select</th>
                        <th>Season</th>
                    </tr>
                </thead>
                <tbody>
                    {{#search_results}}
                        <tr>
                            <td>{{{colors_safe}}}</td>
                            <td title="{{decklist}}"><a href="{{url}}">{{name}}</a></td>
                            <td><a href="{{archetype_url}}">{{archetype_name}}</a></td>
                            <td><input type="checkbox" name="deck_id" value="{{id}}"></td>
                            <td>
                                {{#has_legal_format}}
                                    {{{legal_icons}}}
                                {{/has_legal_format}}
                            </td>
                        </tr>
                    {{/search_results}}
            </table>
            {{> archetypedropdown}}
            <button type="submit">Reassign</button>
        </form>
    {{/has_search_results}}
</section>
<section>
    <h2>Add Archetype</h2>
    {{> spinner}}
    <table>
        {{#roots}}
            {{#archetype_tree}}
                <tr class="archetype archetype-{{depth}}">
                    <td class="initial primary"><a href="{{url}}">{{name}}</a></td>
                    <td class="archetype-description" title="{{description}}">{{description}}</td>
                    <td>
                        <form method="post" class="inline">
                            <input type="hidden" name="parent" value="{{id}}">
                            <div class="field">
                                <input type="text" name="name">
                                <button type="submit">Add</button>
                            </div>
                        </form>
                    </td>
                </tr>
            {{/archetype_tree}}
        {{/roots}}
    </table>
</section>
