<section>
<h2>Queue</h2>
    <form method="post" class="inline">
        <table>
            <thead>
                <tr>
                    <th>Deck Name</th>
                    <th>Current</th>
                    <th>Similar Deck</th>
                    <th>Suggested</th>
                    <th>Assign To</th>
            </thead>
            <tbody>
                {{#queue}}
                    <tr>
                        <td><a href="{{url}}">{{name}} ({{id}})</a></td>
                        <td>{{archetype_name}}</td>
                        <td>
                            {{#suggestion}}<a href="{{url}}">{{name}} ({{id}})</a>{{/suggestion}}
                        </td>
                        <td>
                            {{#suggestion}}<a href="{{archetype_url}}">{{archetype_name}} ({{archetype_id}})</a>{{/suggestion}}
                            {{^suggestion}}No suggestion{{/suggestion}}
                        </td>
                        <td>
                            <input type="hidden" name="deck_id" value="{{id}}">
                            <select name="archetype_id">
                                <option value="">[Select]</option>
                                {{#archetypes}}
                                    <option value="{{id}}">{{name}}</option>
                                {{/archetypes}}
                            </select>
                        </td>
                    </tr>
                {{/queue}}
            </tbody>
        </table>
        <input type="submit" value="Assign">
</form>

<h2>Assign Decks</h2>

<table>
    {{#roots}}
        {{#archetype_tree}}
            <tr class="archetype archetype-{{depth}}">
                <td class="initial primary"><a href="{{url}}">{{name}}</a></td>
                <td>
                    <form method="post" class="inline">
                        <input type="hidden" name="parent" value="{{id}}">
                        <div class="field">
                            <input type="text" name="name">
                            <input type="submit" value="Add">
                        </div>
                    </form>
                </td>
            </tr>
        {{/archetype_tree}}
    {{/roots}}
</table>