<li class="cardrow" data-cardname="{{name}}">
    <a href="{{card.url}}" class="card {{#show_interesting}}{{#interestingness}}interesting interestingness-{{interestingness}}{{/interestingness}}{{/show_interesting}}">{{#n}}{{n}} {{/n}}{{name}}</a>{{^card.pd_legal}}<span class="illegal"></span>{{/card.pd_legal}}{{#card.alternate_printed_names}} <a href="{{url}}" class="alternate-card-name" title="Alternate printed name">· {{name}}</a>{{/card.alternate_printed_names}}
    {{#card.bugs}}
        <a href="{{card.url}}" class="bug" title="{{description}} ({{classification}})">🐞</a>
    {{/card.bugs}}
</li>
