<ul>
    <li>
        <p class="question"><a href="#">{{_ How do I get started with Magic Online?}}</a></p>
        <div class="details">
            <p>{{_ Check out the [guide to Magic Online](https://docs.google.com/document/d/1GGvhaISyESrrvPAkauP5LWKAixh6rcH1Q2jfbfpUOoA/edit).}}</p>
        </div>
    </li>
    <li>
        <p class="question"><a href="#">{{_ Which cards are legal?}}</a></p>
        <div class="details">
            <p>{{_ The best way to search legal cards is with [Scryfall](https://scryfall.com/search?q=f%3Apd).}}</p>
            <p>{{_ You can view the full [legal cards list](http://pdmtgo.com/legal_cards.txt).}}</p>
        </div>
    </li>
    <li>
        <p class="question"><a href="#">{{_ How do I find or brew a decklist?}}</a></p>
        <div class="details">
            <p>{{_ The best way to build decks is to use a search engine that supports Penny Dreadful legality (f:pd) like [Scryfall](https://scryfall.com/search?q=f%3Apd).}}</p>
            <p>{{_ Browse [Decklists]({decks_url}) from tournaments, leagues and elsewhere}}</p>
            <p>{{_ View the full [legal cards list](http://pdmtgo.com/legal_cards.txt)}}</p>
        </div>
    </li>
    <li>
        <p class="question"><a href="#">{{_ How do I get a game and find other Penny Dreadful players?}}</a></p>
        <div class="details">
            <p>{{_ To get a match in Magic Online go to Constructed Open Play, Just for Fun on Magic Online and create a Freeform game with "Penny Dreadful" in the comments.}}</p>
            <p>{{_ To find the Penny Dreadful community join the [Discord](https://discord.gg/H6EHdHu).}}</p>
        </div>
    </li>
    <li>
        <p class="question"><a href="#">{{_ How do I enter the league?}}</a></p>
        <div class="details">
            <p>{{_ Leagues last for roughly a month. You may enter any number of times but only one deck at a time.}}</p>
            <p>{{_ You play five matches per run. You can join the league at any time.}}</p>
            <p>{{_ To find a game sign up and then create a game in Just for Fun with "Penny Dreadful League" as the comment.}}</p>
            <p>{{_ Top 8 finishers on each month's league leaderboard win credit with [MTGO Traders](https://www.mtgotraders.com/).}}</p>
            <p>{{_ When you complete a five match league run for the first time ever you will get 1 tik credit with [MTGO Traders](https://www.mtgotraders.com/).}}</p>
            <p><a href="{{current_league_url}}">{{_ Current League}}</a></o>
            <p><a href="{{league_info_url}}">{{_ More Info}}</a></p>
            <p><a href="{{league_signup_url}}">{{_ Sign Up}}</a></p>
        </div>
    </li>
    <li>
        <p class="question"><a href="#">{{_ How do I enter a tournament?}}</a></p>
        <div class="details">
            <p>{{_ We have {num_tournaments} free-to-enter weekly tournaments with prizes from [Cardhoarder](https://www.cardhoarder.com/).}}</p>
            <p>{{_ They are hosted on [Gatherling](https://gatherling.one/) along with a lot of other player-run Magic Online events.}}</p>
            <p><a href="{{tournaments_info_url}}">{{_ More Info}}</a></p>
            <p><a class="external" href="https://gatherling.one/">{{_ Sign Up}}</a></p>
        </div>
    </li>
    <li>
        <p class="question"><a href="#">{{_ What happens if a card goes above 1¢? How does rotation work? When is the next rotation? How long are cards legal for?}}</a></p>
        <div class="details">
            <p>{{_ Legality is determined at the release of a Standard-legal set on Magic Online.}}</p>
            <p>{{_ Prices are checked every hour for a week. Anything 1c or less for half or more of all checks is legal for the season.}}</p>
            <p>{{_ Cards from the just-released set are added (nothing removed) a couple of weeks later via a supplemental rotation after prices have settled a little.}}</p>
            <p>{{_ Any version of a card on the legal cards list is legal.}}</p>
            <p>{{rotation_text}}.</p>
        </div>
    </li>
</ul>
