<ul>
    <li>
        <p class="question"><a href="#">How do I get started with Magic Online?</a></p>
        <div class="details">
            <p>Check out the <a href="https://docs.google.com/document/d/1GGvhaISyESrrvPAkauP5LWKAixh6rcH1Q2jfbfpUOoA/edit">guide to Magic Online</a>.</p>
        </div>
    </li>
    <li>
        <p class="question"><a href="#">Which cards are legal?</a></p>
        <div class="details">
            <p>The best way to search legal cards is with <a href="https://scryfall.com/search?q=f%3Apd">Scryfall</a>.</p>
            <p>You can view the full <a href="http://pdmtgo.com/legal_cards.txt">legal cards list</a>.</p>
        </div>
    </li>
    <li>
        <p class="question"><a href="#">How do I find or brew a decklist?</a></p>
        <div class="details">
            <p>The best way to build decks is to use a search engine that supports Penny Dreadful legality (f:pd) like <a href="https://scryfall.com/search?q=f%3Apd">Scryfall</a>.</p>
            <p>Browse <a href="{{decks_url}}">Decklists</a> from tournaments, leagues and elsewhere</p>
            <p>View the full <a href="http://pdmtgo.com/legal_cards.txt">legal cards list</a></p>
        </div>
    </li>
    <li>
        <p class="question"><a href="#">How do I get a game and find other Penny Dreadful players?</a></p>
        <div class="details">
            <p>To get a match in Magic Online go to Constructed Open Play, Just for Fun on MTGO and create a Freeform game with "Penny Dreadful" in the comments.</p>
            <p>To find the Penny Dreadful community join the <a href="https://discord.gg/H6EHdHu">Discord</a></p>
        </div>
    </li>
    <li>
        <p class="question"><a href="#">How do I enter the league?</a></p>
        <div class="details">
            <p>Leagues last for roughly a month. You may enter any number of times but only one deck at a time.</p>
            <p>You play five matches per run. You can join the league at any time.</p>
            <p>To find a game sign up and then create a game in Just for Fun with "Penny Dreadful League" as the comment.</p>
            <p>Top 8 finishers on each month's league leaderboard win credit with <a class="external" href="https://mtgotraders.com/">MTGO Traders</a>.</p>
            <p>When you complete a five match league run for the first time ever you will get 1 tik credit with <a class="external" href="http://mtgotraders.com/">MTGO Traders</a>.</p>
            <p><a href="{{current_league_url}}">Current League</a></o>
            <p><a href="{{league_info_url}}">More Info</a></p>
            <p><a href="{{league_signup_url}}">Sign Up</a></p>
        </div>
    </li>
    <li>
        <p class="question"><a href="#">How do I enter a tournament?</a></p>
        <div class="details">
            <p>We have {{num_tournaments}} free-to-enter weekly tournaments with prizes from <a class="external" href="https://cardhoarder.com/">Cardhoarder</a>.</p>
            <p>They are hosted on <a href="https://gatherling.com/">Gatherling</a> along with a lot of other player-run Magic Online events.</p>
            <p><a href="{{tournaments_info_url}}">More Info</a></p>
            <p><a class="external" href="https://gatherling.com/">Sign Up</a></p>
        </div>
    </li>
    <li>
        <p class="question"><a href="#">What happens if a card goes above 1¢? How does rotation work? When is the next rotation? How long are cards legal for?</a></p>
        <div class="details">
            <p>Legality is determined at the release of a Standard-legal set on Magic Online.</p>
            <p>Prices are checked every hour for a week. Anything 1c or less for half or more of all checks is legal for the season.</p>
            <p>Cards from the just-released set are added (nothing removed) a couple of weeks later via a supplemental rotation after prices have settled a little.</p>
            <p>Any version of a card on the legal cards list is legal.</p>
            <p>{{rotation_text}}.</p>
        </div>
    </li>
</ul>
