                <script src="//code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
                <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.27.8/js/jquery.tablesorter.min.js" type="text/javascript"></script>
                <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.27.8/js/jquery.tablesorter.widgets.min.js" type="text/javascript"></script>
                {{#tooltips_url}}
                    <script src="{{tooltips_url}}" type="text/javascript"></script>
                {{/tooltips_url}}
                <script src="//cdn.jsdelivr.net/g/tipped@4.0.10(js/tipped/tipped.js+js/imagesloaded/imagesloaded.pkgd.min.js)"></script>
                <script src="{{js_url}}" type="text/javascript"></script>
            </div> {{! .main}}
        </div> {{! .content}}
    </body>
</html>
