        </main>
        <footer>
            {{#menu}}
                <section {{#admin_only}}class="admin"{{/admin_only}}>
                    <p><b><a class="menuitem" href="{{url}}">{{name}}</a></b></p>
                    {{#submenu}}
                        <p><a {{#is_external}}class="external"{{/is_external}} href="{{url}}">{{name}}</a></p>
                    {{/submenu}}
                </section>
            {{/menu}}
            <section>
                <p>Penny Dreadful tournaments are sponsored by <a class="external" href="https://www.cardhoarder.com/">Cardhoarder</a>.</p>
                <p><a href="https://www.cardhoarder.com/"><img class="sponsor-logo" src="{{cardhoarder_logo_url}}" alt=""></a></p>
            </section>
            <section>
                <p>The Penny Dreadful league is sponsored by <a class="external" href="https://www.mtgotraders.com/">MTGO Traders</a>.</p>
                <p><a href="https://www.mtgotraders.com/"><img class="sponsor-logo" src="{{mtgotraders_logo_url}}" alt=""></a></p>
            </section>
            <section>
                <p>Popup card images courtesy of <a href="https://deckbox.org/">deckbox.org</a>.</p>
            </section>
            <section>
                {{> contact}}
            </section>
        </footer>
        <footer class="status-bar">
            <p class="loading"><span class="spinner"></span> <span class="text">Loading…</span></p>
        </footer>
        {{#tooltips_url}}
            <script defer src="{{tooltips_url}}"></script>
        {{/tooltips_url}}
        {{> jsdependencies}}
        <script defer src="//cdn.jsdelivr.net/g/tipped@4.0.10(js/tipped/tipped.js+js/imagesloaded/imagesloaded.pkgd.min.js)"></script>
        <script defer src="{{js_url}}"></script>
        <script defer src="{{bundle_url}}"></script> {{* React components use pd.js but not vice versa so load this after *}}
        <script async src="//www.googletagmanager.com/gtag/js?id=UA-109131120-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-109131120-1');
        </script>
    </body>
</html>
