<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{title}}</title>
        <link rel="stylesheet" type="text/css" href="{{css_url}}">
    </head>
    <body>
      <h1><a href="{{home_url}}">Penny Dreadful Decklists</a></h1>
      <div class="main">
