<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{title}}</title>
        <link rel="stylesheet" type="text/css" href="{{css_url}}">
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/keyrune@latest/css/keyrune.css">
        <link rel="icon" sizes="16x16 32x32 48x48 64x64" href="{{favicon_url}}">
        <!--[if IE]><link rel="shortcut icon" href="{{favicon_url}}"><![endif]-->
        <link rel="apple-touch-icon-precomposed" href="{{favicon_152_url}}">
        {{#og_title}}
            <meta property="og:title" content="{{og_title}}">
            <meta property="og:type" content="website">
            <meta property="og:url" content="{{og_url}}">
            <meta property="og:image" content="{{favicon_152_url}}">
            <meta property="og:site_name" content="Penny Dreadful Magic">
            <meta property="og:description" content="{{og_description}}">
        {{/og_title}}
        {{#oembed_url}}
            <link rel="alternate" type="application/json+oembed"
                href="{{oembed_url}}"
                title="Penny Dreadful Magic" />
        {{/oembed_url}}
        <meta name=viewport content="width=device-width, initial-scale=1">
        <meta name="google-site-verification" content="5cg_JSKOouPW66K4NuMdm9bQHV9CWH9iVszTByzeDPg">
    </head>
    <body>
        <header class="season-{{season_id}}">
            <h1><a href="{{home_url}}">Penny Dreadful Magic</a></h1>
            <div class="search">
                {{> search}}
            </div>
        </header>
        {{> language_switcher}}
        <nav>
            {{> menu}}
        </nav>
        <main>
            {{> intro}}
            <div id="content">
