<section>
    <h1>{{_ Latest Decks}}</h1>
    {{> decktable}}
    <a href="{{decks_url}}">{{_ More decks…}}</a>
</section>
<section>
    <h1>{{_ Top Cards}}</h1>
    {{> spinner}}
    <table>
        <thead>
            <th>Card</th>
            <th># Decks</th>
            <th data-breakpoints="xs">Record</th>
            <th data-breakpoints="xs">Win %</th>
            {{! Empty column to hold the toggle when footable kicks in.}}
            <td></td>
        </thead>
        <tbody>
            {{#top_cards}}
                <tr>
                    <td>{{> singlecard}}</td>
                    <td class="n">{{num_decks}}</td>
                    <td class="n">{{wins}}–{{losses}}{{#draws}}–{{draws}}{{/draws}}</td>
                    <td class="n">{{win_percent}}</td>
                    {{! Empty column to hold the toggle when footable kicks in.}}
                    <td></td>
                </tr>
            {{/top_cards}}
        </tbody>
    </table>
    <p><a href="{{cards_url}}">{{_ More cards…}}</a></p>
</section>
{{#has_news}}
    {{> news}}
{{/has_news}}
