{{#deck_tables}}
    <section>
        <h1>{{title}}</h1>
        {{> decktable}}
        <a href="{{url}}">{{link_text}}</a>
    </section>
{{/deck_tables}}
<section>
    <h1>{{_ Top Cards}}</h1>
    {{> spinner}}
    <table>
        <thead>
            <th>Card</th>
            <th># Decks</th>
            <th data-breakpoints="xs">Record</th>
            <th data-breakpoints="xs">Win %</th>
            {{! Empty column to hold the toggle when footable kicks in.}}
            <td></td>
        </thead>
        <tbody>
            {{#top_cards}}
                <tr>
                    <td>{{> singlecard}}</td>
                    <td class="n">{{num_decks}}</td>
                    <td class="n">{{wins}}–{{losses}}{{#draws}}–{{draws}}{{/draws}}</td>
                    <td class="n">{{win_percent}}</td>
                    {{! Empty column to hold the toggle when footable kicks in.}}
                    <td></td>
                </tr>
            {{/top_cards}}
        </tbody>
    </table>
    <p><a href="{{cards_url}}">{{_ More cards…}}</a></p>
</section>
{{#has_news}}
    {{> news}}
{{/has_news}}
<section class="rotation">
    <h1>Season {{season_id}}</h1>
    <p>Season {{season_id}} began {{season_start_display}} and ends {{season_end_display}}.</p>
    <ul>
        <li><a href="{{scryfall_url}}">Legal cards (scryfall)</a></li>
        <li><a href="{{legal_cards_url}}">Legal cards (text)</a></li>
    </ul>
    {{#in_rotation}}
        <p><a href="{{rotation_url}}">{{rotation_msg}}</a></p>
    {{/in_rotation}}
</section>
<section>
    <h1>Community Stats</h1>
    {{#community_stats}}
        <h2>{{header}}</h2>
        <ul>
            {{#stats}}
                <li>{{text}}</li>
            {{/stats}}
        </ul>
    {{/community_stats}}
</section>
