{{^hide_intro}}
    <div class="intro-container">
        <section class="intro">
            <a class="dismiss" href="#">x</a>
            <p class="tagline"><b>Penny Dreadful</b>. The ultra-budget, 10,000-card Magic Online brewer's paradise with powerful cards, five free weekly tournaments, free 24/7 league, prizes, quarterly rotations, and a super friendly community.</p>
            <p class="learn-more"><a href="{{learn_more_url}}">Learn more</a></p>
            {{> faqsbody}}
        </section>
    </div>
{{/hide_intro}}
