{{^hide_intro}}
    <div class="intro-container">
        <section class="intro">
            <p class="dismiss top-right-corner"><a href="#">x</a></p>
            <p class="tagline"><b>Penny Dreadful</b>. The ultra-budget, thousands-of-cards Magic Online brewer's paradise with powerful cards, {{num_tournaments}} free weekly tournaments, free 24/7 league, prizes, quarterly rotations, and a super friendly community.</p>
            <p class="learn-more"><a href="{{learn_more_url}}">Learn more</a></p>
            {{> faqsbody}}
            <p class="dismiss"><a href="#">Don't show me this again</a></p>
        </section>
    </div>
{{/hide_intro}}
