<article>
    <section>
        <ul>
            <li>Early season tournament</li>
            <li>Over 100 tix in prizes</li>
            <li>Free entry</li>
            <li>{{{date_info_safe}}}</li>
            <li>Sign up is on <a class="external force-link-style" href="https://gatherling.com/">Gatherling</a></li>
            <li>Pairings and announcements on <a class="force-link-style" href="/discord/">Discord</a></li>
        </ul>
    </section>
    {{> newtopd}}
    <section>
        <h2>{{_ Prizes}}</h2>
        <table>
            <thead>
                <tr>
                    <th class="n">Finish</th>
                    <th class="n">Prize</th>
                </tr>
            </thead>
            <tbody>
                {{#prizes}}
                    <tr>
                        <td class="n">{{finish}}</td>
                        <td class="n">{{prize}}</td>
                    </tr>
                {{/prizes}}
            </tbody>
        </table>
        <p>Prizes from our sponsor <a class="external" href="https://cardhoarder.com/">Cardhoarder</a> in credit.</p>
    </section>
</article>
{{#past_winners}}
    <section>
        <h2>Past Winners</h2>
        {{> livedecktable}}
    </section>
{{/past_winners}}
