<article>
    <section>
        <ul>
            <li>Early season tournament</li>
            <li>Over 150 tix in prizes</li>
            <li>Free entry</li>
            <li>{{date_info}}</li>
            <li>Sign up is on <a class="external" href="https://gatherling.com/">Gatherling</a></li>
        </ul>
    </section>
    {{> newtopd}}
    <section>
        <h2>{{_ Prizes}}</h2>
        <table>
            <thead>
                <tr>
                    <th class="n">Finish</th>
                    <th class="n">Prize</th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                        <td class="n">1st</td>
                        <td class="n">25 tix</td>
                    </tr>
                    <tr>
                        <td class="n">2nd</td>
                        <td class="n">20 tix</td>
                    </tr>
                    <tr>
                        <td class="n">3rd-4th</td>
                        <td class="n">15 tix</td>
                    </tr>
                    <tr>
                        <td class="n">5th-8th</td>
                        <td class="n">10 tix</td>
                    </tr>
                    <tr>
                        <td class="n">9th-16th</td>
                        <td class="n">5 tix</td>
                    </tr>
                    <tr>
                        <td class="n">17th-24th</td>
                        <td class="n">2 tix</td>
                    </tr>
                    <tr>
                        <td class="n">25th-32nd</td>
                        <td class="n">1 tik</td>
                    </tr>
            </tbody>
        </table>
        <p>Prizes from our sponsor <a class="external" href="https://www.cardhoarder.com/">Cardhoarder</a> in credit.</p>
    </section>
</article>
