<div class="language-switcher has-submenu">
    <a href="#"><img alt="Language Switcher" class="language-icon" src="{{language_icon}}"></a>
    <div class="submenu-container">
        <ul>
            {{#babel_languages}}
                <li><a href="?locale={{.}}">{{display_name}}</a></li>
            {{/babel_languages}}
            <li><a href="https://poeditor.com/join/project/sZ94JeTk1V">{{TT_HELP_TRANSLATE}}</a></li>
        </ul>
    </div>
</div>
