<img class="language_icon" src={{language_icon}} />
<div class="submenu-container">
<ul>
{{#babel_languages}}
    <li><a href="{{url}}?locale={{.}}">{{display_name}}</a></li>
{{/babel_languages}}
<li class="language_cta"><a href="https://poeditor.com/join/project/sZ94JeTk1V">{{TT_HELP_TRANSLATE}}</a></li>
</ul>
</div>
