<section>
    <h2>League Details</h2>
    <p>Each participant will compete in 5 matches, each against a different opponent.</p>

    <p>Players are highly encouraged to play their matches against others whose records match their own, but it is not required.</p>

    <p>Each league lasts roughly 1 month.  The current league will run until {{end_date}}.
    <b>Signing up in the middle of the league does not adversely affect your ability to participate in the league.</b></p>

    <p>Each decklist must have a name, and that name will be tied to that league run.</p>

    <p>Decklists must remain the same throughout each separate 5 match run, but you can change decks before starting a new run.
    <b>You may only have one run going at once.</b></p>


    <p>The league tracking signup system includes a decklist legality verification system.</p>

    <p>In order for this to work correctly, decklists must be in a compatible format.</p>

    <p>To do this, export your deck from MTGO in a .txt file, then copy and past the contents of that file into the sign up sheet.

    <p>To export your deck, right click on the name of the deck on the left of the Collection tab, then click export.
    Don't forget to change the file format to .txt before saving.</p>

    <p>After each match, at least one player must report the results of the match.</p>

    <p>Make sure you have the right deck name for both you and your opponent's decks before submitting.</p>
</section>

<section>
    <h2>Prizes</h2>
        <h3>The Perfect Run Reward</h3>

        <p>The first five (5) perfect (5-0 record) finishers on each month will get one (1) tix each.
        A player can get multiple tixs on this category, only if they are using different deck for each of the perfect runs.</p>
        <p>The judgement of a deck to be said as "different deck" will be determined by league moderators.</p>

        <h3>The Top Players Reward</h3>

        <p>At the end of each month, the top four (4) players of that month’s league scoreboard will get tix reward (3-2-1-1).
        <p>For each match you won, you get one (1) point. For each perfect (5-0) run you have, you get additional one (1) point.</p>
        <p>There is no limitation of how many runs you are allowed to do.</p>
</section>

<section>
    <h2>Finding a match</h2>
    <div>
        <ul>
            <li>The easiest way to find a match is through the <a href="https://discord.gg/Yekrz3s">discord server</a>.</li>
        </ul>
        <!--<ul>Upon starting a game in the Just For Fun lobby, PDBot will join your game as a spectator.  It will notify you if you and your opponent are elligible for playing a League Match.</ul>-->
    </div>
</section>

<section>
    <h2>Important Links</h2>
    <ul>
        <li><a href="https://pennydreadfulmagic.com/signup/">Signup Form</a></li>
        <li><a href="https://pennydreadfulmagic.com/report/">Report Results</a></li>
        <li><a href="https://pennydreadfulmagic.com/competitions/{{current.id}}/">Records</a></li>
    </ul>
</section>
