<section>
    <h2>League Details</h2>
    <div>
        Each participant will compete in 5 matches, each against a different opponent. 
        Players are highly encouraged to play their matches against others whose records match their own, but it is not required.<br/>
        
        Each league lasts roughly 1 month.  The current league will until {{end_date}}.
        <b>Signing up in the middle of the league does not adversely affect your ability to participate in the league.</b><br/>

        Each decklist must have a name, and that name will be tied to that league run.
        Decklists must remain the same throughout each separate 5 match run, but you can change decks before starting a new run.
        <b>You only have one run going at once.</b><br/>
    
        The league tracking signup system includes a decklist legality verification system. 
        In order for this to work correctly, decklists must be in a compatible format. 
        To do this, export your deck from MTGO in a .txt file, then copy and past the contents of that file into the sign up sheet. 
        To export your deck, right click on the name of the deck on the left of the Collection tab, then click export. 
        Don't forget to change the file format to .txt before saving.<br/>

        After each match, at least one player must report the results of the match. 
        Make sure you have the right deck name for both you and your opponent's decks before submitting.<br/>
    </div>
</section>

<section>
    <h2>Finding a match</h2>
    <div>
        <ul>
            <li>The easiest way to find a match is through the <a href="https://discord.gg/Yekrz3s">discord server</a>.</li>
        </ul>
        <!--<ul>Upon starting a game in the Just For Fun lobby, PDBot will join your game as a spectator.  It will notify you if you and your opponent are elligible for playing a League Match.</ul>-->
    </div>
</section>

<section>
    <h2>Important Links</h2>
    <ul>
        <li><a href="https://pennydreadfulmagic.com/signup/">Signup Form</a></li>
        <li><a href="https://pennydreadfulmagic.com/report/">Report Results</a></li>
        <li><a href="https://pennydreadfulmagic.com/competitions/{{current.id}}/">Records</a></li>
    </ul>
</section>