<article>
    <h1>MTGO Traders League</h1>

    <p><a href="{{signup_url}}">Sign Up Here</a></p>

    <p>Each league lasts roughly a month.  The <a href="{{records_url}}">current league</a> will run until {{end_date}}.</p>

    <p><b>You can <a href="{{signup_url}}">sign up</a> at any time.</b></p>

    <p>When you complete a five match league run for the first time ever you will get 1 tik credit with MTGO Traders (at the end of the month).</p>

    <p>A league run is five matches against five different decks/opponents.</p>

    <p>Your deck stays the same through a run but you can change decks for each run (or not if you want to play again with the same deck).</p>

    <p>You can only have one run going at once.</p>

    <p>If you don't want to finish a league run message <code>!retire</code> to PDBot on Magic Online or <a href="{{retire_url}}">retire</a> via the website and your run will end.</p>

    <p>Your deck will be checked for legality when you <a href="{{signup_url}}">sign up</a>.</p>

    <p>The easiest way to sign up is to export your deck from Magic Online and then upload it or copy it into the <a href="{{signup_url}}">sign up page</a>.</p>

    <p>To export your deck from Magic Online, right click on the name of the deck on the left of the Collection tab, then click export.</p>

    <p>PDBot will report your match result if it is watching your match but if not the winner should <a href="{{report_url}}">report the result</a> of the match.</p>

    <p>Make sure you have the right deck name for both you and your opponent's decks before submitting. Report any problems on <a class="external" href="https://discord.gg/H6EHdHu">Discord</a>.</p>

    <section>
        <h2>Prizes</h2>
            <p>At the end of each month, the top eight players of that month’s league scoreboard will get credit with MTGO Traders (6/4/3/2/1/1/1/1).
            <p>For each match you won, you get one point. For each perfect (5-0) run you have, you get an extra point.</p>
            <p>You can enter the league as many times as you want.</p>
    </section>

    <section>
        <h2>Finding a Match</h2>
        <p>The easiest way to find a match to to simply play PD games with your league deck.  PDBot will alert you if both players are registered in league. Add "Penny Dreadful League" in a comment on your match in Just for Fun, Freeform to make your intentions clear.</p>
        <p>You can also find opponents through the #league channel on <a class="external" href="https://discord.gg/Yekrz3s">Discord</a>.</li>
        <p>Matches should use 25 minute timers.</p>
    </section>

    <section>
        <h2>Important Links</h2>
        <ul>
            <li><a href="{{signup_url}}">Signup Form</a></li>
            <li><a href="{{report_url}}">Report Results</a></li>
            <li><a href="{{records_url}}">Records</a></li>
            <li><a href="{{retire_url}}">Retire</a></li>
            <li><a class="external" href="https://discord.gg/Yekrz3s">Discord</a></li>
        </ul>
    </section>
</article>