{{^person.mtgo_username}}
    <section>
        <h2>{{_ You have not connected your Discord and Magic Online accounts}}</h2>
        <form method="post">
            <div>
                <label for="mtgo_username">{{_ Magic Online Username}}</label>
                <input {{#form.errors.mtgo_username}}class="error"{{/form.errors.mtgo_username}} type="text" name="mtgo_username" id="mtgo_username" value="{{form.mtgo_username}}">
                <div class="error">{{form.errors.mtgo_username}}</div>
            </div>
            <button type="submit">{{_ Connect}}</button>
        </form>
    </section>
{{/person.mtgo_username}}
{{#person.mtgo_username}}
    <section>
        <h2>{{_ You have successfully connected your Discord and Magic Online accounts}}</h2>
        <form method="post">
            <div>
                <label for="mtgo_username">{{_ Magic Online Username}}</label>
                <input {{#form.errors.mtgo_username}}class="error"{{/form.errors.mtgo_username}} type="text" name="mtgo_username" id="mtgo_username" value="{{person.mtgo_username}}" disabled='true'>
                <div class="error">{{form.errors.mtgo_username}}</div>
            </div>
            <button type="submit">{{_ Connect}}</button>
        </form>
    </section>
{{/person.mtgo_username}}
