{{^person.mtgo_username}}
    <section>
        <h2>{{_ You have not connected your Discord and Magic Online accounts}}</h2>
        <form method="post">
            <div>
                <label for="mtgo_username">{{_ Magic Online Username}}</label>
                <input {{#form.errors.mtgo_username}}class="error"{{/form.errors.mtgo_username}} type="text" name="mtgo_username" id="mtgo_username" value="{{form.mtgo_username}}">
                <div class="error">{{form.errors.mtgo_username}}</div>
            </div>
            <button type="submit">{{_ Connect}}</button>
        </form>
    </section>
{{/person.mtgo_username}}
{{#person.mtgo_username}}
    <section>
        <h2>{{_ You have successfully connected your Discord and Magic Online accounts}}</h2>
        <form method="post">
            <div>
                <label for="mtgo_username">{{_ Magic Online Username}}</label>
                <input {{#form.errors.mtgo_username}}class="error"{{/form.errors.mtgo_username}} type="none" name="mtgo_username" id="mtgo_username" value="{{person.mtgo_username}}" disabled='true'>
                <div class="error">{{form.errors.mtgo_username}}</div>
                <label for="to_username">{{_ TappedOut Username}}</label>
                <input {{#form.errors.to_username}}class="error"{{/form.errors.to_username}} type="text" name="to_username" id="to_username" value="{{form.to_username}}" {{#disable_to}}disabled='true'{{/disable_to}}>
                <div class="error">{{form.errors.to_username}}</div>
                <label for="gf_username">{{_ MTGGoldfish Username}}</label>
                <input {{#form.errors.gf_username}}class="error"{{/form.errors.gf_username}} type="text" name="gf_username" id="gf_username" value="{{form.gf_username}}" {{#disable_gf}}disabled='true'{{/disable_gf}}>
                <div class="error">{{form.errors.gf_username}}</div>
            </div>
            <button type="submit">{{_ Connect}}</button>
        </form>
    </section>
{{/person.mtgo_username}}
