<div
    class="cardtable"
    data-page-size="{{page_size}}"
    data-person-id="{{person.id}}"
    data-season-id="{{season_id}}"
    data-tournament-only="{{#tournament_only}}1{{/tournament_only}}">
</div>
