<div
    class="leaderboardtable"
    data-competition-id="{{competition.id}}"
    data-competition-series-id="{{competition_series_id}}"
    data-skinny-view="{{#skinny_leaderboard}}1{{/skinny_leaderboard}}"
    data-page-size="{{page_size}}"
    data-season-id="{{season_id}}">
</div>
