<div
    class="cardtable"
    data-page-size="{{page_size}}"
    data-all-legal="{{#all_legal}}1{{/all_legal}}"
    data-archetype-id="{{archetype.id}}"
    data-base-query="{{base_query}}"
    data-person-id="{{person.id}}"
    data-season-id="{{season_id}}"
    data-tournament-only="{{#tournament_only}}1{{/tournament_only}}">
</div>
