{{#show_matchup_grid}}
    <section>
        <h2>Matchups</h2>
        <table class="matchup-grid">
            <thead>
                <tr>
                    <td></td>
                    <td colspan="{{num_archetypes}}">Opponent</td>
                </tr>
                <tr>
                    <td></td>
                    {{#matchup_archetypes}}
                        {{#show_as_enemy}}
                            <th class="angled"><div class="inner">{{name}}</div></th>
                        {{/show_as_enemy}}
                    {{/matchup_archetypes}}
                </tr>
            </thead>
            <tbody>
                {{#matchup_archetypes}}
                    {{#show_as_hero}}
                        <tr>
                            <th>{{name}}</th>
                            {{#matchups}}
                                {{#show_as_enemy}}
                                    <td {{#color_cell}}style="background: hsl({{hue}}, {{saturation}}%, {{lightness}}%)"{{/color_cell}} class="n" {{#has_data}}title="{{archetype_name}} {{wins}}–{{losses}}{{#draws}}–{{draws}}{{/draws}} {{name}}{{/has_data}}">{{#has_data}}{{wins}}–{{losses}}{{#draws}}–{{draws}}{{/draws}}{{/has_data}}</td>
                                {{/show_as_enemy}}
                            {{/matchups}}
                    {{/show_as_hero}}
                {{/matchup_archetypes}}
            </tbody>
        </table>
    </section>
{{/show_matchup_grid}}
