<div
    class="matchtable"
    data-endpoint="/api/matchup-matches/"
    data-enemy-archetype-id="{{enemy_archetype_id}}"
    data-enemy-card="{{enemy_card}}"
    data-enemy-person-id="{{enemy_person_id}}"
    data-hero-archetype-id="{{hero_archetype_id}}"
    data-hero-card="{{hero_card}}"
    data-hero-person-id="{{hero_person_id}}"
    data-page-size="{{page_size}}"
    data-read-only="1"
    data-season-id="{{search_season_id}}">
</div>
