<div
    class="decktable"
    data-endpoint="/api/matchup-decks/"
    data-enemy-archetype-id="{{enemy_archetype_id}}"
    data-enemy-card="{{enemy_card}}"
    data-enemy-person-id="{{enemy_person_id}}"
    data-hero-archetype-id="{{hero_archetype_id}}"
    data-hero-card="{{hero_card}}"
    data-hero-person-id="{{hero_person_id}}"
    data-page-size="{{page_size}}"
    data-season-id="{{search_season_id}}"
    data-show-season-icon="{{^search_season_id}}1{{/search_season_id}}">
</div>
