<ul class="menu badges">
    {{#menu}}
        <li {{#has_submenu}}class="has-submenu"{{/has_submenu}}>
            {{#badge}}
                <div class="badge-holder">
                    <span class="badge"><a href="{{url}}">{{text}}</a></span>
                </div>
            {{/badge}}
            <a class="menuitem" href="{{url}}">{{name}}</a>
            {{#has_submenu}}
                <div class="submenu-container">
                    <ul>
                        {{#submenu}}
                             <li><a href="{{url}}">{{name}}</a></li>
                        {{/submenu}}
                    </ul>
                </div>
            {{/has_submenu}}
        </li>
    {{/menu}}
</ul>
