<ul class="menu badges">
    {{#menu}}
        <li class="{{#admin_only}}admin{{/admin_only}}">
            {{#badge}}
                <div class="badge-holder">
                    <span class="admin demimod badge {{badge_class}}"><a href="{{url}}">{{text}}</a></span>
                </div>
            {{/badge}}
            <a class="item {{#current}}current{{/current}}" href="{{url}}">
                <div class="icon {{endpoint}}"></div>
                {{name}}
            </a>
            {{#has_submenu}}
                <div class="submenu">
                    <ul>
                        {{#submenu}}
                             <li><a class="item {{#current}}current{{/current}} {{#is_external}}external{{/is_external}}" href="{{url}}">{{name}}</a></li>
                        {{/submenu}}
                    </ul>
                </div>
            {{/has_submenu}}
        </li>
    {{/menu}}
</ul>
