<ul class="menu badges">
    {{#menu}}
        <li class="{{#has_submenu}}has-submenu{{/has_submenu}} {{#admin_only}}admin{{/admin_only}}">
            {{#badge}}
                <div class="badge-holder">
                    <span class="admin demimod badge {{badge_class}}"><a href="{{url}}">{{text}}</a></span>
                </div>
            {{/badge}}
            <a class="menuitem" href="{{url}}">{{name}}</a>
            {{#has_submenu}}
                <div class="submenu-container">
                    <ul>
                        {{#submenu}}
                             <li><a {{#is_external}}class="external"{{/is_external}} href="{{url}}">{{name}}</a></li>
                        {{/submenu}}
                    </ul>
                </div>
            {{/has_submenu}}
        </li>
    {{/menu}}
</ul>
