<article class="news">
    <h1>News</h1>
    {{#news}}
        <div>
            <p>{{#url}}<a href="{{url}}">{{/url}}{{title}} <span class="date">{{display_date}}</span>{{#url}}</a>{{/url}}</p>
        </div>
    {{/news}}
    {{#all_news_url}}
        <p><a href="{{all_news_url}}">More News …</a></p>
    {{/all_news_url}}
</article>
