<section>
    <h2>New to Penny Dreadful?</h2>
    <ul>
        <li>Check out the <a href="{{faqs_url}}">FAQs</a></li>
        <li>Play for free with the <a href="{{cardhoarder_loan_url}}">Cardhoarder Free Loan Program</a></li>
        <li>Join the Penny Dreadful community on <a href="{{discord_url}}">Discord</a></li>
    </ul>
</section>
