<article>
    <h1>The Penny Dreadful 500</h1>

    <section>
        <ul>
            <li>End of season tournament</li>
            <li>500 tix in prizes</li>
            <li>The next Penny Dreadful 500 is {{next_pd500_date}}</li>
        </ul>
    </section>
    <section>
        <p>Any player in the Top 8 of any <a href="{{leaderboards_url}}">season leaderboard</a> will receive a round one bye.</p>
        <p>Sign up on <a class="external" href="https://gatherling.com/register.php">Gatherling</a></p>
    </section>
    <section>
        <h2>{{_ Prizes}}</h2>
        <table>
            <thead>
                <tr>
                    <th class="n">Finish</th>
                    <th class="n">Prize</th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                        <td class="n">1st</td>
                        <td class="n">130 tix</td>
                    </tr>
                    <tr>
                        <td class="n">1st</td>
                        <td class="n">90 tix</td>
                    </tr>
                    <tr>
                        <td class="n">3rd-4th</td>
                        <td class="n">60 tix</td>
                    </tr>
                    <tr>
                        <td class="n">5th-8th</td>
                        <td class="n">30 tix</td>
                    </tr>
                    <tr>
                        <td class="n">9th-16th</td>
                        <td class="n">10 tix</td>
                    </tr>
            </tbody>
        </table>
        <p>Prizes from our sponsor <a class="external" href="https://www.cardhoarder.com/">Cardhoarder</a> in credit.</p>
    </section>
</article>
