<article>
    <section>
        <ul>
            <li>End of season tournament</li>
            <li>500 tix in prizes</li>
            <li>Free entry</li>
            <li>{{{date_info_safe}}}</li>
            <li>Sign up is on <a class="external force-link-style" href="https://gatherling.com/">Gatherling</a></li>
            <li>Pairings and announcements on <a class="force-link-style" href="/discord/">Discord</a></li>
        </ul>
    </section>
    {{> newtopd}}
    <section>
        <h2>{{_ Prizes}}</h2>
        <table>
            <thead>
                <tr>
                    <th class="n">Finish</th>
                    <th class="n">Prize</th>
                </tr>
            </thead>
            <tbody>
                    {{#prizes}}
                        <tr>
                            <td class="n">{{finish}}</td>
                            <td class="n">{{prize}}</td>
                        </tr>
                    {{/prizes}}
            </tbody>
        </table>
        <p>Prizes from our sponsor <a class="external" href="https://cardhoarder.com/">Cardhoarder</a> in credit.</p>
    </section>
    <section>
        <h2>Byes</h2>
        <p>Players who win a <a href="{{tournaments_url}}">tournament</a> this season receive a round one bye.</p>
        <p>The following players have earned a bye in the Penny Dreadful 500.</p>
        <ul>
            {{#people_with_byes}}
                <li><a href="{{url}}">{{person}}</a></li>
            {{/people_with_byes}}
        </ul>
    </section>
</article>
