{{> banner}}
<section>
    {{#achievements}}
        {{#legend}}
            <b>{{title}}</b>
            <p class="detail">
                <span class="earned">🏆</span>
                <span class="text">{{legend}}</span>
            </p>
            {{#detail}}
                {{> decktable}}
            {{/detail}}
        {{/legend}}
    {{/achievements}}
    {{#no_achievements}}
        No achievements earned.
    {{/no_achievements}}
</section>
