<div>
    <label for="person_name">Person</label>
    <input id="person_name" class="person-option" data-person-filter="{{person_filter}}" type="text" autocomplete="off" placeholder="Search people" required>
    <input id="person_id" name="person_id" type="hidden">
</div>
