<h1>{{name}}</h1>
<section>
    <h2>Decks</h2>
    {{> decktable}}
</section>
{{#has_only_played_cards}}
    <section>
        <h2>Unique Cards Played</h2>
        <ul>
            {{#only_played_cards}}
                <li>{{> singlecard}}</li>
            {{/only_played_cards}}
        </ul>
    </section>
{{/has_only_played_cards}}
{{#achievements}}
    <section>
        <h2>Achievements</h2>
        <ul class="buttons">
            {{#tournament_wins}}
                <li title="{{tournament_wins}} Wins">Tournament Winner</li>
            {{/tournament_wins}}
            {{#tournament_entries}}
                <li title="{{tournament_entries}} Entries">Tournament Player</li>
            {{/tournament_entries}}
            {{#perfect_runs}}
                <li title="{{perfect_runs}} Perfect Runs">Perfect League Run</li>
            {{/perfect_runs}}
            {{#league_entries}}
                <li title="{{league_entries}} Entries">League Player</li>
            {{/league_entries}}
        </ul>
    </section>
{{/achievements}}
{{#show_head_to_head}}
    <section>
        <h2>Head to Head</h2>
        <table>
            <thead>
                <th>Opponent</th>
                <th class="n"># Matches</th>
                <th class="n" data-sortInitialOrder="desc">Record</th>
                <th class="n" data-sortInitialOrder="desc">Win %</th>
            </thead>
            <tbody>
                {{#head_to_head}}
                    <tr>
                        <td><a href="{{opp_url}}">{{opp_mtgo_username}}</a></td>
                        <td class="n">{{num_matches}}</td>
                        <td class="n">{{> record}}</td>
                        <td class="n">{{win_percent}}</td>
                    </tr>
                {{/head_to_head}}
            </tbody>
        </table>
    </section>
{{/show_head_to_head}}
<section>
    <h2>Cards</h2>
    {{> cardstable}}
</section>
