<div>
    <label for="person_id">Person</label>
    <select name="person_id">
        <option value="">[Select]</option>
        {{#people}}
            <option value="{{id}}">{{mtgo_username}} (to:{{tappedout_username}},
mtgg:{{mtggoldfish_username}}, discord: {{discord_id}})</option>
        {{/people}}
    </select>
</div>
