{{> banner}}
<section>
    <h2>Matches</h2>
    <table>
        <thead>
            <tr>
                <th>Deck</th>
                <th data-breakpoints="xs">Opponent</th>
                <th data-breakpoints="xs sm md">Opponent's Deck</th>
                <th class="n">Result</th>
                <th data-breakpoints="xs sm md">Competition</th>
                <th data-breakpoints="xs sm md">Date</th>
                {{! Empty column to hold the toggle when footable kicks in.}}
                <td></td>
            </tr>
        </thead>
        <tbody>
            {{#matches}}
                <tr>
                    <td><a href="{{deck_url}}">{{deck_name}}</a></td>
                    <td><a href="{{opponent_url}}">{{opponent}}</a></td>
                    <td><a href="{{opponent_deck_url}}">{{opponent_deck_name}}</a></td>
                    <td class="n">{{game_wins}}–{{game_losses}}</td>
                    <td><a href="{{competition_url}}">{{competition_type_name}}</a></td>
                    <td data-text="{{date_sort}}">{{display_date}}</td>
                    {{! Empty column to hold the toggle when footable kicks in.}}
                    <td></td>
                </tr>
            {{/matches}}
        </tbody>
    </table>
</section>
