{{#achievements}}
    {{#legend}}
        <section>
            <h2>{{title}}</h2>
            <p class="detail">
                <span class="earned">🏆</span>
                <span class="text">{{legend}}</span>
            </p>
            {{#detail}}
                {{> livedecktable}}
            {{/detail}}
        </section>
    {{/legend}}
{{/achievements}}
{{#no_achievements}}
    <section>
        <p>No achievements earned.</p>
    </section>
{{/no_achievements}}
