<h2>{{name}}</h2>
<section>
    <h3>Decks</h3>
    {{> decks}}
</section>
<section>
    <h3>Cards</h3>
    {{> cardstable}}
</section>
{{#has_only_played_cards}}
    <section>
        <h2>Cards Only You Have Played</h2>
        <ul>
            {{#only_played_cards}}
                <li><a href="{{url}}" class="{{^pd_legal}}illegal{{/pd_legal}} card">{{name}}</a></li>
            {{/only_played_cards}}
        </ul>
    </section>
{{/has_only_played_cards}}
