{{> banner}}
<section>
    <h2>Decks</h2>
    {{> decktable}}
</section>
{{> stats}}
{{#has_only_played_cards}}
    <section>
        <h2>Unique Cards Played</h2>
        <ul>
            {{#only_played_cards}}
                <li>{{> singlecard}}</li>
            {{/only_played_cards}}
        </ul>
    </section>
{{/has_only_played_cards}}
{{#num_achievements}}
    <section>
        <h2>Achievements</h2>
        <ul class="buttons">
            {{#displayed_achievements}}
                <li title="{{detail}}">{{name}}</li>
            {{/displayed_achievements}}
        </ul>
        <p><a href="{{achievements_url}}">See all achievements</a></p>
    </section>
{{/num_achievements}}
{{#show_head_to_head}}
    <section>
        <h2>Head to Head</h2>
        <table>
            <thead>
                <th>Opponent</th>
                <th class="n" data-breakpoints="xs"># Matches</th>
                <th class="n" data-sortInitialOrder="desc">Record</th>
                <th class="n" data-breakpoints="xs"data-sortInitialOrder="desc">Win %</th>
                {{! Empty column to hold the toggle when footable kicks in.}}
                <td></td>
            </thead>
            <tbody>
                {{#head_to_head}}
                    <tr>
                        <td><a href="{{opp_url}}">{{opp_mtgo_username}}</a></td>
                        <td class="n">{{num_matches}}</td>
                        <td class="n">{{> record}}</td>
                        <td class="n">{{win_percent}}</td>
                        {{! Empty column to hold the toggle when footable kicks in.}}
                        <td></td>
                    </tr>
                {{/head_to_head}}
            </tbody>
        </table>
    </section>
{{/show_head_to_head}}
<section>
    <h2>Cards</h2>
    {{> cardstable}}
</section>
