<section>
    <table>
        <thead>
            <tr>
                <th>Subject</th>
                <th>Creator</th>
                <th>Date</th>
                <th>Note</th>
            </tr>
        </thead>
        <tbody>
            {{#notes}}
                <tr class="wide">
                    <td>{{subject}}</td>
                    <td>{{creator}}</td>
                    <td data-text="{{date_sort}}">
                        {{display_date}}
                    </td>
                    <td class="wide">{{note}}</td>
                </tr>
            {{/notes}}
        </tbody>
    </table>
</section>
<section>
    <h2>Add Note</h2>
    <form method="post">
        {{> persondropdown}}
        <div>
            <label for="note">Note</label>
            <textarea name="note"></textarea>
        </div>
        <button type="submit">Add Note</button>
    </form>
</section>
