<section>
    <table>
        <thead>
            <tr>
                <th>Subject</th>
                <th>Creator</th>
                <th>Date</th>
                <th>Note</th>
            </tr>
        </thead>
        <tbody>
            {{#notes}}
                <tr class="wide clickable" data-href="{{subject_url}}">
                    <td class="person"><a href="{{subject_url}}">{{subject}}</a></td>
                    <td class="person"><a href="{{creator_url}}">{{creator}}</a></td>
                    <td data-text="{{date_sort}}">
                        <span title="{{display_date_title}}">{{display_date}}</span>
                    </td>
                    <td class="wide">{{note}}</td>
                </tr>
            {{/notes}}
        </tbody>
    </table>
</section>
<section>
    <h2>Add Note</h2>
    <form method="post">
        {{> persondropdown}}
        <div>
            <label for="note">Note</label>
            <textarea name="note"></textarea>
        </div>
        <button type="submit">Add Note</button>
    </form>
</section>
