<section>
    <h2>{{subtitle}}</h2>
    {{> league_header}}
    <form method="post">
        <div>
            <label for="entry">Your Deck</label>
            <select {{#form.errors.entry}}class="error" {{/form.errors.entry}}name="entry" id="entry">
                <option value="">Choose …</option>
                {{#form.entry_options}}
                    <option value="{{value}}" {{#selected}}selected="selected"{{/selected}}>{{text}}</option>
                {{/form.entry_options}}
            </select>
            <div class="error">{{form.errors.entry}}</div>
        </div>
        <div>
            <label for="opponent">Opponent</label>
            <select {{#form.errors.opponent}}class="error" {{/form.errors.opponent}}name="opponent" id="opponent">
                <option value="">Choose …</option>
                {{#form.opponent_options}}
                    <option value="{{value}}" {{#selected}}selected="selected"{{/selected}}>{{text}}</option>
                {{/form.opponent_options}}
            </select>
            <div class="error">{{form.errors.opponent}}</div>
        </div>
        <div>
            <label for="result">Result</label>
            <select {{#form.errors.result}}class="error" {{/form.errors.result}}name="result" id="result">
                <option value="">Choose …</option>
                {{#form.result_options}}
                    <option value="{{value}}" {{#selected}}selected="selected"{{/selected}}>{{text}}</option>
                {{/form.result_options}}
            </select>
            <div class="error">{{form.errors.result}}</div>
        </div>
        <input type="submit" value="Report">
    </form>
    {{> contact}}
</section>
