<h1>{{page_title}}</h1>
<section>
    <form method="post">
        <div>
            <label for="entry">{{TT_YOUR_DECK}}</label>
            <select class="{{#form.errors.entry}}error {{/form.errors.entry}}deckselect" name="entry" id="entry">
                <option value="">Choose…</option>
                {{#form.entry_options}}
                    <option value="{{value}}" {{#selected}}selected="selected"{{/selected}} {{#can_draw}} class="deck-can-draw" {{/can_draw}} >{{text}}</option>
                {{/form.entry_options}}
            </select>
            <div class="error">{{form.errors.entry}}</div>
        </div>
        <div>
            <label for="opponent">Opponent</label>
            <select class="{{#form.errors.opponent}}error {{/form.errors.opponent}} deckselect" name="opponent" id="opponent">
                <option value="">Choose…</option>
                {{#form.opponent_options}}
                    <option value="{{value}}" {{#selected}}selected="selected"{{/selected}} {{#can_draw}} class="deck-can-draw" {{/can_draw}}>{{text}}</option>
                {{/form.opponent_options}}
            </select>
            <div class="error">{{form.errors.opponent}}</div>
        </div>
        <div>
            <label for="result">Result</label>
            <select {{#form.errors.result}}class="error" {{/form.errors.result}}name="result" id="result">
                <option value="">Choose…</option>
                {{#form.result_options}}
                    <option value="{{value}}" {{#selected}}selected="selected"{{/selected}}>{{text}}</option>
                {{/form.result_options}}
            </select>
            <span class="draw-report">
                -<input name="draws" id="draws" type="number" value="0" min="0">
            </span>
            <div class="error">{{form.errors.result}}</div>
        </div>
        <button type="submit">{{TT_REPORT}}</button>
        {{#person_id}}<div class="logout">{{_ Not you?}} <a href="{{logout_url}}">{{_ Log out}}</a></div>{{/person_id}}
    </form>
</section>
<section>
    <p>If you wish to retire your run early, private message '!retire' to PDBot (via Magic Online) or visit the <a href="{{retire_url}}">retire page</a></p>
    {{> contact}}
</section>
