{{#sections}}
    <section class="resource">
        <h2>{{title}}</h2>
        <ul>
            {{#items}}
                <li><a {{#is_external}}class="external"{{/is_external}} href="{{url}}">{{text}}</a></li>
            {{/items}}
        </ul>
    </section>
{{/sections}}
