<h1>Resources</h1>
{{#sections}}
    <section class="resource">
        <h2>{{title}}</h2>
        <ul>
            {{#items}}
                <li><a href="{{url}}">{{text}}</a></li>
            {{/items}}
        </ul>
    </section>
{{/sections}}
<p>Suggestions to @bakert99 via <a href="https://discord.gg/H6EHdHu">Discord</a> or email bakert@gmail.com</p>
