<section>
    <ul>
        <li>Copy legal_cards.txt to pdmtgo.com</li>
        <li>Run post_rotation task for decksite <code>python3 run.py maintenance post_rotation</code></li>
        <li>Restart decksite <code>touch /etc/uwsgi/vassals/decksite.ini</code></li>
        <li>Send <code>!suppresshype</code> to PDBot</li>
        <li>Restart or update Discord Bot taking note of <a href="https://github.com/PennyDreadfulMTG/Penny-Dreadful-Tools/issues/5490">#5490</a></li>
        <li>Update <a href="http://www.gatherling.com/util/updateDefaultFormats.php">Gatherling</a> legal cards list</li>
        <li>Remove any no-longer-game-breaking bugged cards from the Gatherling banned list, and add any new ones.</li>
        <li>Ping @Csuhta#3333 on Discord for Scryfall</li>
        <li>Email richard@mtggoldfish.com for MTG Goldfish</li>
        <li>Ping /u/basicer on Reddit for Magidex</li>
        <li>Ping yeaGO on his wall at tappedout</li>
        <li>Archive all the Run_XXX.txt files so that the next rotation will start running correctly</li>
        <li>Call <code>!rotate</code> on the bot</li>
    </ul>
</section>
