<section>
    <h2>New This Season</h2>
    {{#new_this_season}}
        {{> livecardtable}}
    {{/new_this_season}}
</section>
{{#rotated_out}}
    <section>
        <h2>Rotated Out</h2>
        {{> livecardtable}}
    </section>
{{/rotated_out}}
{{> changesdownloads}}
