<section>
    <p>The rotation script now does almost everything automatically and should open a task in GitHub for the things that need to be done manually.</p>
    <p>We do still need to do the following things by hand:</p>
    <ul>
        <li>Upload legal_cards.txt to S3</li>
        <li>Upload {setcode}_legal_cards.txt to S3</li>
        <li>Ping @Csuhta#3333 on their Discord for Scryfall in #red-phone</li>
        <li>Email richard@mtggoldfish.com for MTG Goldfish</li>
        <li>Restart or update Discord Bot taking note of <a href="https://github.com/PennyDreadfulMTG/Penny-Dreadful-Tools/issues/5490">#5490</a></li>
        <li>Update <a href="http://www.gatherling.com/util/updateDefaultFormats.php">Gatherling</a> legal cards list</li>
        <li>Add any new (or newly-legal) DFCs to PDBot</li>
        <li>Remove any no-longer-game-breaking bugged cards from the Gatherling banned list, and add any new ones.</li>
    </ul>
</section>
