{{#speculation}}
    <section>
        <p>What rotation would look like if it happened today.</p>
    </section>
{{/speculation}}
{{> scryfallfilter}}
{{#sections}}
    {{> section}}
{{/sections}}
{{> rotationkey}}
{{#show_downloads}}
    <section>
        <h2>Downloads</h2>
        <p><a href="{{new_cards_deck_url}}">New Cards File</a></p>
        <p><a href="{{rotated_out_cards_deck_url}}">Rotated Out File</a></p>
    </section>
{{/show_downloads}}
