<h1>Rotation</h1>
<section>
    <p>{{rotation_msg}}</p>
    {{#runs}}
        <p>{{runs}} ({{runs_percent}}%) of 168 runs completed. {{num_cards}} cards have hits.</p>
        <p>Stats on undecided cards are redacted to reduce rampant market manipulation.</p>
        {{> spinner}}
        <table class="highlights">{{! Allow overflow-x so highlighting shows in left margin.}}
            <thead>
                <tr>
                    <th>⇅</th>
                    <th>Card</th>
                    <th class="n">Hits</th>
                    <th class="n">Needed</th>
                    <th>Status</th>
            </thead>
            <tbody>
                {{#cards}}
                    <tr>
                        <td>{{#hit_in_last_run}}↑{{/hit_in_last_run}}{{^hit_in_last_run}}↓{{/hit_in_last_run}}</td>
                        <td>{{> singlecard}}</td>
                        <td class="n">{{hits}} ({{percent}}%)</td>
                        <td class="n">{{hits_needed}} ({{percent_hits_needed}}%)</td>
                        <td>{{status}}</td>
                    </tr>
                {{/cards}}
            </tbody>
        </table>
        {{> rotationkey}}
    {{/runs}}
</section>
