<section>
    <p>{{rotation_msg}}</p>
    {{#runs}}
        <p>{{runs}} ({{runs_percent}}%) of {{total_runs}} runs completed. {{num_cards}} cards have hits.</p>
    {{/runs}}
</section>
{{#runs}}
    <section>
        <div
            class="rotationtable"
            data-page-size="{{page_size}}">
        </div>
        {{> rotationkey}}
    </section>
{{/runs}}
