<section>
  <h2>Key</h2>
  <ul>
    <li><a href="#" class="interesting interestingness-heavily-played">Heavily Played</a></li>
    <li><a href="#" class="interesting interestingness-moderately-played">Moderately Played</a></li>
    <li><a href="#" class="interesting interestingness-new">Never Before Legal</a></li>
    <li>↑ = Present in last check</li>
    <li>↓ = Not present in last check</li>
  </ul>
</section>