<section>
    <p>{{rotation_msg}}</p>
    {{#runs}}
        {{#note}}
            <p>{{note}}</p>
        {{/note}}
        <p>{{runs}} ({{runs_percent}}%) of {{total_runs}} runs completed. {{num_cards}} cards have hits.</p>
        <p>This check: {{in_this_check}} cards in, {{eliminated_this_check}} cards eliminated.</p>
    {{/runs}}
    {{#runs}}
            <div
                class="rotationtable"
                data-page-size="{{page_size}}">
            </div>
    {{/runs}}
</section>
