<h1>Rotation Checklist</h1>
<section>
    <ul>
        <li>Check for new sets to scrape on mtggoldfish.com probably using price_grabber (which has code for grabbing all sets)</li>
        <li>Set up cron job</li>
        <li>Copy legal_cards.txt to pdmtgo.com</li>
        <li>Restart decksite</li>
        <li>Update Gatherling</li>
        <li>Email richard@mtggoldfish.com</li>
        <li>Ping /u/basicer on Reddit</li>
        <li>Ping yeaGO on his wall at tappedout</li>
    </ul>
</section>
