<form class="scryfall-filter-form">
    <p>Search using Scryfall syntax. Warning: can be very slow.</p>
    <div>
        <label>Query</label>
        <input type="text" name="fq"  class="scryfall-filter-input" value="{{query}}">
    </div>
    <div>
        <button class="scryfall-filter-submit" type="submit">Search</button>
    </div>
    <div>
        <button class="scryfall-filter-reset" type="button">Reset</button>
    </div>
    <p class="errors-and-warnings" hidden></p>
</form>
