<div class="dropdown seasonchooser">
    <button type="button" class="dd-button button" aria-expanded="false" aria-controls="season-chooser-menu"><i class="ss ss-{{season_code_lower}}"></i>{{season_name}}<span class="expansion-indicator" aria-hidden="true">▾</span></button>
    <ol class="dd-menu" id="season-chooser-menu">
        {{! Skip two cells so that All and the current season are near to the cursor after opening the menu. }}
        <span></span>
        <span></span>
        {{#season_chooser}}
            <li>
                {{^disabled}}<a href="{{url}}">{{/disabled}}
                {{#disabled}}<div class="disabled">{{/disabled}}
                    <i class="ss ss-{{code_lower}}"></i> {{#num}}{{num}}{{/num}}{{^num}}All{{/num}}
                {{#disabled}}</div>{{/disabled}}
                {{^disabled}}</a>{{/disabled}}
            </li>
        {{/season_chooser}}
    </ol>
</div>
