<h1>Past Seasons</h1>
{{#seasons}}
    <section>
        <h2>Season {{num}} ({{code}})</h2>
        <ul>
            <li><a href="{{decks_url}}">All Decks</a></li>
            <li><a href="{{league_decks_url}}">League Decks</a></li>
            <li><a href="{{competitions_url}}">Competitions</a></li>
            <li><a href="{{archetypes_url}}">Archetypes</a></li>
            <li><a href="{{people_url}}">People</a></li>
            <li><a href="{{cards_url}}">Cards</a></li>
            <li><a href="{{rotation_changes_url}}">Rotation Changes</a></li>
        </ul>
    </section>
{{/seasons}}
