<section>
    <h2 class="section">{{name}} <span class="total">{{num_entries}}</span></h2>
    <ul class="decklist">
        {{#entries}}
            {{> entry}}
        {{/entries}}
    </ul>
</section>
