<section>
    <h2>{{subtitle}}</h2>
    <form method="post">
        <div>
            <label for="mtgo_username">MTGO Username</label>
            <input {{#form.errors.mtgo_username}}class="error"{{/form.errors.mtgo_username}} type="text" name="mtgo_username" value="{{form.mtgo_username}}">
            <div class="error">{{form.errors.mtgo_username}}</div>
        </div>
        <div class="field required">
            <label for="name">Deck Name</label>
            <input {{#form.errors.name}}class="error"{{/form.errors.name}}type="text" name="name" value="{{form.name}}">
            <div class="error">{{form.errors.name}}</div>
        </div>
        <div class="field required">
            <label for="decklist">Decklist</label>
            <textarea name="decklist">{{form.decklist}}</textarea>
            <div class="error">{{form.errors.decklist}}</div>
        </div>
        <input type="submit" value="Sign Up">
    </form>
</section>
