<a href="{{url}}" class="{{#show_interesting}}{{#interestingness}}interesting interestingness-{{interestingness}} {{/interestingness}}{{/show_interesting}}card">{{name}}</a>{{^pd_legal}}<span class="illegal"></span>{{/pd_legal}}
