<section>
    <table>
        <thead>
            <tr>
                <th>Username</th>
                <th># Decks</th>
                <th>Avg</th>
                <th>Last</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#people}}
                <tr data-href="{{url}}" class="clickable">
                    <td class="person"><a href="{{url}}">{{name}}</a></td>
                    <td class="n">{{num_decks_sorted}}</td>
                    <td class="n">{{sorted_per_day}}</td>
                    <td data-text="{{date_sort}}">{{display_last_sorted}}</td>
                </tr>
            {{/people}}
        </tbody>
    </table>
</section>
