<section>
    <h2>Record</h2>
    <table>
        <thead>
            <tr>
                <th># Decks</th>
                <th>Record</th>
                <th>Win %</th>
                <th class="n">
                    <abbr title="Tournament wins">①</abbr>
                </th>
                <th class="n">
                    <abbr title="Tournament top-8s">⑧</abbr>
                </th>
                <th class="n">
                    <abbr title="League 5-0 runs">5–0s</abbr>
                </th>
                {{#elo}}<th class="n">Elo</th>{{/elo}}
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="n">{{num_decks}}</td>
                <td class="n">{{#show_record}}{{wins}}–{{losses}}{{#draws}}–{{draws}}{{/draws}}{{/show_record}}</td>
                <td class="n">{{win_percent}}</td>
                <td class="n">{{#tournament_wins}}{{tournament_wins}}{{/tournament_wins}}</td>
                <td class="n">{{#tournament_top8s}}{{tournament_top8s}}{{/tournament_top8s}}</td>
                <td class="n">{{#perfect_runs}}{{perfect_runs}}{{/perfect_runs}}</td>
                {{#elo}}<td class="n">{{elo}}</th>{{/elo}}
            </tr>
        </tbody>
    </table>
</section>
