{{#competition_ends}}
    <div class="subtitle">
        Ends {{competition_ends}}
    </div>
{{/competition_ends}}
{{^competition_ends}}
    {{#date}}
        <div class="subtitle">
            {{date}}
        </div>
    {{/date}}
{{/competition_ends}}
{{#is_deck_page}}
    <div class="subtitle">
        {{#public}}{{#reviewed}}<a href="{{archetype_url}}">{{archetype_name}}</a>{{/reviewed}}{{/public}}
        {{#reviewed}}d{{/reviewed}}{{^reviewed}}D{{/reviewed}}eck
        by <a href="{{person_url}}" class="person">{{person}}</a>
    </div>
    <div class="subtitle">
        {{display_date}}
    </div>
    <div class="subtitle">
        <a href="{{#competition_url}}{{competition_url}}{{/competition_url}}{{^competition_url}}{{source_url}}{{/competition_url}}">
            {{source_name}} {{> record}}
        </a>
        {{{active_safe}}}
    </div>
{{/is_deck_page}}
