{{#series}}
    <section>
        <h2>{{competition_series_name}}</h2>
        {{> liveleaderboardtable}}
        {{#sponsor_name}}<p>Sponsored by {{sponsor_name}}</p>{{/sponsor_name}}
    </section>
{{/series}}
