<h2>Number of Rounds</h2>

<table>
    <thead>
        <tr>
            <th></th>
            <th class="legend" colspan="2">Rounds</th>
            <th></th>
        <tr>
            <th class="n">Players</th>
            <th class="n">Swiss</th>
            <th class="n">Knockout</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#tournament_rounds_info}}
            <tr>
                <td class="n">{{num_players}}</td>
                <td class="n">{{swiss_rounds}}</td>
                <td class="n">{{elimination_rounds}}</td>
                <td>{{note}}</td>
            </tr>
        {{/tournament_rounds_info}}
    </tbody>
</table>
