{{#series}}
    <section>
        <h2>{{competition_series_name}}</h2>
        <table class="with-marginalia">
            <thead>
                <tr>
                    <td></td>
                    <th>Person</th>
                    <th class="n" data-sortInitialOrder="desc">#</th>
                    <th class="n" data-sortInitialOrder="desc">Wins</th>
                    <th class="n" data-sortInitialOrder="desc">Pts</th>
                </tr>
            </thead>
            <tbody>
                {{#entries}}
                    <tr class="pos-{{pos}}">
                        <td class="n marginalia">
                            {{position}}
                        </td>
                        <td><a href="{{url}}" class="person">{{person}}</a></td>
                        <td class="n">{{tournaments}}</td>
                        <td class="n">{{wins}}</td>
                        <td class="n">{{points}}</td>
                    </tr>
                {{/entries}}
            </tbody>
        </table>
        {{#sponsor_name}}<p>Sponsored by {{sponsor_name}}</p>{{/sponsor_name}}
    </section>
{{/series}}
