<h2>Number of Rounds</h2>

<table>
    <thead>
        <tr>
            <th></th>
            <th class="legend" colspan="2">Rounds</th>
            <th></th>
        <tr>
            <th class="n">Players</th>
            <th class="n">Swiss</th>
            <th class="n">Knockout</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="n">2</td>
            <td class="n">0</td>
            <td class="n">1</td>
            <td>(single elim)</td>
        </tr>
        <tr>
            <td class="n">3-4</td>
            <td class="n">0</td>
            <td class="n">2</td>
            <td></td>
        </tr>
        <tr>
            <td class="n">5-7</td>
            <td class="n">0</td>
            <td class="n">3</td>
            <td></td>
        </tr>
        <tr>
            <td class="n">8</td>
            <td class="n">3</td>
            <td class="n">2</td>
            <td>(top 4)</td>
        </tr>
        <tr>
            <td class="n">9-15</td>
            <td class="n">4</td>
            <td class="n">2</td>
            <td></td>
        </tr>
        <tr>
            <td class="n">16-31</td>
            <td class="n">4</td>
            <td class="n">3</td>
            <td>(top 8)</td>
        </tr>
        <tr>
            <td class="n">32+</td>
            <td class="n">5</td>
            <td class="n">3</td>
            <td></td>
        </tr>
    </tbody>
</table>
