<h1>{{_ Cardhoarder Tournaments}}</h2>
<article>
    <section>
        <p><a class="external" href="https://gatherling.com/player.php">{{next_tournament_name}}</a> is in {{next_tournament_time}}.</p>
        {{> spinner}}
        <table class="calendar">
            <thead>
                <tr>
                    <th>{{_ Date}}</th>
                    <th>{{_ Tournaments}}</th>
                    <th>{{_ League}}</th>
                </tr>
            </thead>
            <tbody>
                {{#tournaments}}
                    <tr>
                        <td class="date">
                            <time class="month" datetime="{{time}}" data-format="MMM">{{month}}</time>
                            <time class="day" datetime="{{time}}" data-format="D">{{date}}</time>
                        </td>
                        <td>
                            <p>{{name}}</p>
                            <time datetime="{{time}}" data-format="dddd LT z">{{display_time}}</time>
                            <p><a href="https://gatherling.com/player.php">{{_ Sign Up}}</a></p>
                        </td>
                        {{#league}}
                            <td class="league {{class}}">
                                {{#display}}
                                    <p>{{name}}</p>
                                    <p><a href="/signup/">{{_ Sign Up}}</a></p>
                                {{/display}}
                            </td>
                        {{/league}}
                    </tr>
                {{/tournaments}}
            </tbody>
        </table>
        <p>{{_ There are {num_tournaments} weekly Penny Dreadful tournaments hosted on [Gatherling.com](https://gatherling.com). They are all free to enter and some offer prizes from [Cardhoarder](https://www.cardhoarder.com/). Be sure to also check out the [league](/league/) for a play-when-you-like competition.}}</p>
        <p>{{_ Each tournament series has a [vanity leaderboard]({leaderboards_url}).}}</p>
    </section>
    <section>
        <h2>{{_ Joining a Tournament}}</h2>
        <ul>
            <li><a class="external" href="https://gatherling.com/register.php">{{_ Register}}</a></li>
            <li><a class="external" href="https://gatherling.com/login.php">{{_ Sign In}}</a></li>
            <li>{{_ [Sign Up](https://gatherling.com/player.php) under "Preregister for Events"}}</li>
            <li>{{_ [Join #tournament-room](https://discord.gg/KK866Pe) on Discord}}</li>
            <li>{{_ Wait for announcements from the Tournament Organizer}}</li>
            <li>{{_ Matches will be played in the Getting Serious room}}</li>
        </ul>
    </section>
    <section>
        {{> tournamentrounds}}
    </section>
    <section>
        <h2>{{_ Prizes}}</h2>
        {{> spinner}}
        <table>
            <thead>
                <tr>
                    <th class="n">Finish</th>
                    <th class="n">Prize</th>
                </tr>
            </thead>
            <tbody>
                {{#prizes}}
                    <tr>
                        <td class="n">{{finish}}</td>
                        <td class="n">{{prize}} tix</td>
                    </tr>
                {{/prizes}}
            </tbody>
        </table>
        <p>Prizes from our sponsor <a class="external" href="https://www.cardhoarder.com/">Cardhoarder</a> in credit. Prizes will be credited within a few days of the Friday following the tournament. This credit will appear when you trade with one of their bots on Magic Online.</p>
    </section>
    <section>
        <h2><a name="bugs">{{_ Magic Online Bugs}}</a></h2>
        <p>{{_ We allow the playing of cards with known bugs in Penny Dreadful with specific conditions.}}</p>
        <ul>
            <li>{{_ Cards with game-breaking bugs must not be played. Exceptions: Cards that are only bugged in Multiplayer games.}}</li>
            <li>{{_ Cards with disadvantageous bugs can be played and no extra rules apply. The opposing player is under no obligation to treat the card as if it worked properly.}}</li>
            <li>{{_ Cards with advantageous bugs can be played but accruing advantage intentionally will result in disqualification.}}</li>
            <li>{{_ Accruing advantage any other way with a card with an advantageous bug is a game loss for the owner of the bugged card.}}</li>
        </ul>

        <p>{{_ **Example of Game Loss**: Playing Living Lore with two cards in graveyard and opponent removes one at instant speed with a card from their hand forcing the Living Lore player to imprint a split card.}}</p>

        <p>{{_ **Second example of Game Loss**: Playing Profane Command using the mode that targets an opponent. Opponent plays Gilded Light in response.}}</p>

        <p>{{_ **Example of Disqualification**: Playing Living Lore and intentionally choosing a split card from a stocked graveyard to get an oversized Living Lore.}}</p>

        <p>{{_ In the case where a bugged interaction only becomes known to a player during a competitive match, at the TO's discretion, a game loss or match loss may be imposed rather than a disqualification.}}</p>

        <p>{{_ The game loss should be enacted by the bugged cards controller conceding the game.}}</p>

        <p>{{_ Any confusion should be discussed with the Tournament Organizer before conceding the game or ending the match, on the bugged card player's clock.}}</p>

        <p>When a new bug is encountered for the first time (does not appear at <href="https://pennydreadfulmagic.com/bugs/">pennydreadfulmagic.com/bugs</a>) during a competitive match both players may agree to play on.</p>

        <p>If either player does not agree the player with the bugged cards must swap out the bugged cards (only) from their decklist, restart the match, players concede games in the correct order until the record matches the record before the bugged game. Sideboarding then takes place if it was not game 1 and the rest of the match plays out.</p>

        <p>{{_ For all these matters the Tournament Organizer has the flexibility to rule as they see fit and their decision is final.}}</p>

        <p><a href="{{bugs_url}}">{{_ List of all known bugged cards}}</a></p>
    </section>
    <section>
        <h2>{{_ Other Notes}}</h2>
        <p>{{_ If a player starts a sideboarded game with less than 60 cards (quite possible due to a known Magic Online bug) and either player notices before the end of turn 2 and either player wants to restart the game, the game will be restarted. The result of any game played beyond turn 2 with less than 60 cards in maindeck will stand.}}</p>
        <p>{{_ Matches should use 25 minute timers.}}</p>
        <p>{{_ A player may not play games under more than one account in a Penny Dreadful tournament.}}</p>
        <p>{{_ Please do not double queue Penny Dreadful tournaments with other tournaments nor double queue in the league.}}</p>
        <p>{{_ Only players completing the tournament will be awarded prizes.}}</p>
        <p>{{_ Because of a [bug](https://github.com/PennyDreadfulMTG/modo-bugs/issues/308) removing all stops is not allowed.}}</p>
        <p>{{_ You may only enter a given tournament once (either on the same account or multiple accounts).}}</p>
    </section>
</article>
