<a href="{{toggle_results_url}}">
    <span class="toggle {{#tournament_only}}toggle-right{{/tournament_only}}" id="tournament-toggle" type="checkbox"></span>
    <span class="toggle-button" for="tournament-toggle"></span>
    Tournaments Only
</a>
