<article>
    <h1>Hosting Tournaments</h1>

    <section>
        <p>If you want to host or help to host Penny Dreadful tournaments be sure to make yourself known on the <a class="external" href="https://discord.gg/H6EHdHu">Discord</a>. We always need hosts.</p>

        <p>We run our tournaments on <a class="external" href="https://gatherling.com/">Gatherling</a>.</p>

        <p>Being a host gives you a new tab Host CP (only when logged in, obviously). Under there you will find the event(s) you are hosting.</p>
    </section>

    <section>
        <h2>During Registration</h2>

        <p>Before the tournament check the Registration section and bother players whose decks are either empty or not legal (highlighted) - the system will auto-drop them if you start the tournament like that. If something goes completely crazy they can always enter a basic land they aren't playing as a missing card and put what they are really playing in the comments. This should rarely if ever be necessary and it's more likely they are making a mistake. Gatherling wants split cards in this style: "Far/Away".</p>
    </section>

    <section>
        <h2>Before the Tournament</h2>

        <p>After tournament start time before starting the tournament: check if anyone wants to join late (you can add them manually on Registration in the input box there). That's also how you add people in rounds after round 1 (they will get no credit for the previous rounds).</p>

        <p>Then tell everyone:</p>

        <blockquote>Welcome to the tournament. We have {PLAYERS} players. We will play {ROUNDS} rounds of Swiss followed by cut to top {KNOCKOUT}. There are prizes from Cardhoarder for the Top 8 finishes and a door prize for one other randomly-selected player completing all Swiss rounds. Prizes will be credited to your Cardhoarder account automatically some time at the end of this week. Please make your games in Constructed, Specialty, Freeform Tournament Practice with 'Penny Dreadful' and your opponent's name in the comments with watchers allowed. If your opponent doesn't show up please message them directly on Magic Online and Discord and if they are not there at :{MINUTES} contact me for your free 2-0 win. Good luck everyone!</blockquote>

        <p>or something similar. Replace {PLAYERS} with the number of players, {ROUNDS} with the number of rounds, {KNOCKOUT} with either 4 or 8. See the chart below for the right values. And replace {MINUTES} with the current minutes past the hour + 10 (we don't state the hour to avoid timezone confusion).</p>

        <p>Note: tournaments are usually initially set up with four rounds of Swiss and a Top 8. If that's not what you need (see chart below) you can change it on the Event Settings page after clicking the tournament name on Host CP.</p>
    </section>

    <section>
        <h2>Starting the Tournament</h2>

        <p>To start the tournament: Go to the home page of the event linked off Host CP and click 'Start Event'.</p>
    </section>

    <section>
        <h2>During the Tournament</h2>

        <p>During the tournament: Tell people when the round starts on Discord (in #tournament-room). You can post all the match details or just tell everyone to check their Player CP for their pairing.</p>

        <p>When results for the round start coming in it's nice to check that both parts of a match report and nudge people who don't. It's better to get people to report their own results because often people that don't report have lost and may want to drop if they report themselves rather than you putting it in and pairing it and them for the next round and then they no-show. But you can enter a result if you need to, and also drop people, from the Match Listing and Registration sections. You can also un-drop.</p>

        <p>If you are playing in the tournament it is best to report your match last. That gives you a chance to eyeball the list of results before the next round starts. In  particular we have had issues with people dropping who did not intend to. It's a good idea to check with a player who is still in contention for the elimination rounds if they really meant to drop.</p>

        <p>Top 8 will happen automatically (annoyingly called "Round 5" and on) but may need you to keep an eye because the loser may not report. Here it's less bad if you report because the loser will obviously be out anyway.</p>

        <h2>After the Tournament</h2>

        <p>Make sure the results of the semifinals and final are reported on the Match Listing subsection. This will reveal all decklists to the public (and makes them available to pennydreadfulmagic.com).</p>
    </section>

    <section>
        <h2>Further Help</h2>

        <p>If it goes horribly wrong: message on discord for one of {{hosts}} – all of whom know what's up. Usually.</p>

        {{> tournamentrounds}}

        <p>Late joiners can be considered 0.5 people in terms of tournament structure. Changing the number of Swiss or knockout rounds to accomodate the new number of players including these 0.5s is allowed but is not required. The TO's decision is final.</p>

        <p>Prizes will be paid out to the players that make the knockout rounds first and any remaining prizes will be paid out down the swiss standings. The door prize will always be paid to someone not getting any other prize. No player will ever receive more than one prize even if this means some prizes go unawarded.</p>
    </section>
</article>
