<h1>Cardhoarder Tournaments</h2>
<article>
    <section>
        <p><a class="external" href="http://gatherling.com/player.php">{{next_tournament_name}}</a> is in {{next_tournament_time}}.</p>
        {{> spinner}}
        <table class="calendar">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Tournaments</th>
                    <th>League</th>
                </tr>
            </thead>
            <tbody>
                {{#tournaments}}
                    <tr>
                        <td class="date"><span class="month">{{month}}</span><big>{{date}}</big> </td>
                        <td>
                            <p>{{name}}</p>
                            <p class="local"><span class="time" data-time="{{time}}">{{display_time}}</span></p>
                            <p><a href="http://gatherling.com/player.php">Sign Up</a></p>
                        </td>
                        {{#league}}
                            <td class="league {{class}}">
                                {{#display}}
                                    <p>{{name}}</p>
                                    <p><a href="/signup/">Sign Up</a></p>
                                {{/display}}
                            </td>
                        {{/league}}
                    </tr>
                {{/tournaments}}
            </tbody>
        </table>
        <p>There are {{num_tournaments}} weekly Penny Dreadful tournaments sponsored by <a class="external" href="http://www.cardhoarder.com/">Cardhoarder</a> and hosted on <a class="external" href="http://gatherling.com/">gatherling.com</a>. They are all free to enter and offer prizes. Be sure to also check out the <a href="/league/">league</a> for a play-when-you-like competition.</p>
        <p>Each tournament series has a <a href="{{leaderboards_url}}">leaderboard</a> for the season with prizes for Top 8 finishers.</p>
    </section>
    <section>
        <h2>Joining a Tournament</h2>
        <ul>
            <li><a class="external" href="http://gatherling.com/register.php">Register</a></li>
            <li><a class="external" href="http://gatherling.com/login.php">Sign In</a></li>
            <li><a class="external" href="http://gatherling.com/player.php">Sign Up</a> under "Preregister for Events"</li>
            <li><a class="external" class="external" href="https://discord.gg/KK866Pe">Join #tournament-room</a> on Discord</li>
            <li>Wait for announcements from the Tournament Organizer</li>
            <li>Matches will be played in the Getting Serious room</li>
        </ul>
    </section>
    <section>
        {{> tournamentrounds}}
    </section>
    <section>
        <h2><a name="bugs">Bugs</a></h2>
        {{{bugs_rules}}}
    </section>
    <section>
        <h2>Sideboarding Issues</h2>
        <p>If a player starts a sideboarded game with less than 60 cards (quite possible due to a known Magic Online bug) and either player notices before the end of turn 2 and either player wants to restart the game, the game will be restarted. The result of any game played beyond turn 2 with less than 60 cards in maindeck will stand.</p>
    </section>
</article>
