<h1>MTGO Traders League Leaderboards</h1>
{{#tournaments}}
    <section>
        <h2>{{name}}</h2>
        <p>Leaderboards are not ready yet. Coming soon.</p>
    </section>
{{/tournaments}}
<section>
    <h2>First Run Prize</h2>
    <p>Regardless of results when you complete your first ever complete run of five matches you will earn 1 tik credit with MTGO Traders.</p>
</section>

