<section>
    <h2>Unauthorized</h2>
    <p>You are not authorized to see this page. If you think this is in error please <a href="https://github.com/PennyDreadfulMTG/Penny-Dreadful-Tools//issues">open an issue</a>.</p>
    <p>{{error}}</p>
</section>
