<h1>{{page_title}}</h1>
{{#message}}
    <p>{{message}}</p>
{{/message}}
<section>
    <h2>Remove any discord id from specific person</h2>
    <form method="post">
        <div>
            <label for="person_id">Person</label>
            <select name="person_id">
                <option value="">[Select]</option>
                {{#people}}
                    <option value="{{id}}">{{mtgo_username}} (to:{{tappedout_username}},
 mtgg:{{mtggoldfish_username}}, discord: {{discord_id}})</option>
                {{/people}}
            </select>
        </div>
        <button type="submit">Unlink</button>
    </form>
</section>
<section>
    <h2>Remove specific discord id from all people</h2>
    <form method="post">
        <div>
            <label for="discord_id">Discord ID</label>
            <input type="text" name="discord_id">
        </div>
        <button type="submit">Unlink</button>
    </form>
</section>
