<h1 class="error">{{page_title}}</h1>
<section>
    <p>{{message}}</p>
    <p><a class="external" href="https://github.com/PennyDreadfulMTG/Penny-Dreadful-Tools/issues">{{_ Report bug}}</a></p>
    <a href="{{card.url}}" class="card"><img src="{{card.img_url}}" alt="{{card.name}}" class="card-img {{c.card_img_class}}"></a>
</section>
<section>
    <p>{{_ Try these?}}</p>
    <ul>
        {{#menu}}
            <li><a href="{{url}}">{{name}}</a></li>
        {{/menu}}
    </ul>
</section>
<!--
Exception:
{{exception}}
-->

