<script defer src="//cdnjs.cloudflare.com/umd/libs/jquery.hoverIntent/1.10.0/jquery.hoverIntent.min.js"></script>
<script defer src="//cdnjs.cloudflare.com/umd/libs/moment.js/2.24.0/moment.min.js"></script>
<script defer src="//cdnjs.cloudflare.com/umd/libs/moment-timezone/0.5.26/moment-timezone.min.js"></script>
<script defer src="//cdnjs.cloudflare.com/umd/libs/Chart.js/2.8.0/Chart.min.js"></script>
<script defer src="//cdnjs.cloudflare.com/umd/libs/react/16.10.2/cjs/react.production.min.js"></script>
