<script defer src="//cdnjs.cloudflare.com/ajax/libs/jquery.hoverintent/1.9.0/jquery.hoverIntent.min.js"></script>
<script defer src="//cdnjs.cloudflare.com/umd/libs/jquery.tablesorter/2.31.1/js/jquery.tablesorter.min.js"></script>
<script defer src="//cdnjs.cloudflare.com/umd/libs/moment.js/2.24.0/moment.min.js"></script>
<script defer src="//cdnjs.cloudflare.com/umd/libs/moment-timezone/0.5.26/moment-timezone.min.js"></script>
<script defer src="//cdnjs.cloudflare.com/umd/libs/Chart.js/2.8.0/Chart.min.js"></script>
<script defer src="//cdnjs.cloudflare.com/umd/libs/react/16.10.2/cjs/react.production.min.js"></script>
<script defer src="//cdnjs.cloudflare.com/umd/libs/react-dom/16.10.2/cjs/react-dom.production.min.js"></script>
