<section>
    <p>{{_ You are not authorized to see this page.}} If you think this is in error please <a class="external" href="https://github.com/PennyDreadfulMTG/Penny-Dreadful-Tools/issues">open a ticket</a>.</p>
    <p>{{error}}</p>
</section>
