name: Run Tests
on: ['push', 'pull_request']

jobs:
  mypy:
    name: mypy
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - name: Set up Python 3.13
      uses: actions/setup-python@v6
      with:
        python-version: '3.13'
    - uses: PennyDreadfulMTG/setup-linters@main
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip uv wheel
        if [ -f pyproject.toml ]; then uv sync --dev; fi
    - name: Run mypy
      run: uv run python dev.py mypy
  lint:
    name: lint
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - name: Set up Python 3.13
      uses: actions/setup-python@v6
      with:
        python-version: '3.13'
    - uses: PennyDreadfulMTG/setup-linters@main
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip uv wheel pydantic
        if [ -f pyproject.toml ]; then uv sync --dev; fi
    - name: Run lint
      run: uv run python dev.py lint

  test:
    name: test
    runs-on: ubuntu-latest
    env:
      mysql_user: root
      mysql_passwd: bad-password
      mysql_host: 127.0.0.1

    steps:
    - uses: actions/checkout@v6
      with:
        fetch-depth: 0
    - name: Set up Python 3.13
      uses: actions/setup-python@v6
      with:
        python-version: '3.13'
    - uses: getong/mariadb-action@v1.11
      with:
        mysql root password: bad-password
        mariadb version: 11
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip uv wheel
        if [ -f pyproject.toml ]; then uv sync --dev; fi
    - uses: PennyDreadfulMTG/setup-linters@main
    - run: uv run python run.py init-cards
    - name: Run pytest
      run: |
        uv run pytest
    - uses: codecov/codecov-action@v5
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
    - name: Publish Test Report
      uses: mikepenz/action-junit-report@v6.1.0
      if: always() # always run even if the previous step fails
      with:
        report_paths: '**/TestResults.xml'
        check_name: 'Pytest Results'

  jslint:
    name: jslint
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - name: Set up Python 3.13
      uses: actions/setup-python@v6
      with:
        python-version: '3.13'
    - name: Setup Node.js environment
      uses: actions/setup-node@v6.2.0
      with:
        node-version: 18.16.0
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip uv wheel
        python build.py
    - name: Run jslint
      run: uv run python dev.py jslint
