name: Sort python imports

on:
  push:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - name: Set up Python 3.13
      uses: actions/setup-python@v6
      with:
        python-version: '3.13'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade uv
        uv install
    - name: Sort Imports
      run: uv run python dev.py sort --fix
    - name: Create Pull Request
      uses: peter-evans/create-pull-request@v8
      with:
        commit-message: Sort Imports
        title: Sort Imports
        branch: sort
        labels: merge when ready
        token: ${{ secrets.VORPAL_PAT }}
