name: Sort python imports

on:
  push:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2.3.4
    - name: Set up Python 3.8
      uses: actions/setup-python@v2.1.4
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pipenv
        pipenv install
    - name: Sort Imports
      run: pipenv run python dev.py fix-imports
    - name: Create Pull Request
      uses: peter-evans/create-pull-request@v3
      with:
        commit-message: Sort Imports
        title: Sort Imports
        branch: sort
        labels: merge when ready
      env:
        GITHUB_TOKEN: ${{ secrets.VORPAL_PAT }}
