name: Repin pip dependencies

on:
  workflow_dispatch:
  # push:
  #   branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - name: Set up Python 3.13
      uses: actions/setup-python@v6
      with:
        python-version: '3.13'
        cache: 'pipenv'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pipenv
        if [ -f Pipfile ]; then pipenv sync --dev; fi
    - name: Run repip
      run: pipenv run python dev.py repip
    - name: Create Pull Request
      uses: peter-evans/create-pull-request@v8
      with:
        commit-message: Unpin git dependency
        title: Unpin git dependency
        branch: repip
        labels: merge when ready
        token: ${{ secrets.VORPAL_PAT }}
